In [1]:
import sqlalchemy as sa
import urllib 
import pandas as pd 
import psycopg2
from sqlalchemy import text
from conector import enginok

Leemos el .csv/museos para la creacion y normalizacion de la misma

In [59]:
dataM = pd.read_csv("./museos.csv", encoding='UTF-8')
df_Museos = pd.DataFrame(dataM)
df_Museos.sample(2)

,Cod_Loc,IdProvincia,IdDepartamento,Observaciones,categoria,subcategoria,provincia,localidad,nombre,direccion,...,Mail,Web,Latitud,Longitud,TipoLatitudLongitud,Info_adicional,fuente,jurisdiccion,aÃ±o_inauguracion,actualizacion
681,42140020,42,42140,NaN,Espacios de ExhibiciÃ³n Patrimonial,Museos,La Pampa,Toay,Museo Del Regimiento NÂº 12,Av. PerÃ³n 8187,...,NaN,NaN,-36.671551,-64.361829,LocalizaciÃ³n precisa,NaN,DNPyM,Nacional,NaN,2017
713,50091020,50,50091,NaN,Espacios de ExhibiciÃ³n Patrimonial,Museos,Mendoza,Chilecito,"Museo De Chilecito, Molino San Francisco",JamÃ­n Ocampo 50,...,NaN,NaN,-29.167729,-67.503343,LocalizaciÃ³n precisa,NaN,DNPyM,Privada,1977.0,2017

CREAR UN ID UNICO UTILIZANDO EL INICE.

In [60]:
df_Museos['Id']=df_Museos.index
df_Museos['Id']=df_Museos['Id'].astype(str)
df_Museos['Id']=df_Museos['Id']+'M'
df_Museos.sample()

,Cod_Loc,IdProvincia,IdDepartamento,Observaciones,categoria,subcategoria,provincia,localidad,nombre,direccion,...,Web,Latitud,Longitud,TipoLatitudLongitud,Info_adicional,fuente,jurisdiccion,aÃ±o_inauguracion,actualizacion,Id
481,14042170,14,14042,NaN,Espacios de ExhibiciÃ³n Patrimonial,Museos,CÃ³rdoba,Villa MarÃ­a,Casa Museo Gobernador Amadeo Sabattini,Mariano Moreno 270,...,NaN,-32.416219,-63.245075,LocalizaciÃ³n precisa,NaN,DNPyM,Provincial,2011.0,2017,481M

**RENOMBRAR Y ORDENAR COLUMBNAS**

In [62]:
df_Museos.rename({'aÃ±o_inauguracion':'Ano_inauguracion','actualizacion':'Ano_actualizacion',
'direccion':'Direccion','provincia':'Provincia', 'fuente':'Fuente', 'categoria':'Categoria','Observaciones':'Observacion','nombre':'Nombre',
'piso':'Piso','cod_area':'Cod_tel','telefono':'Telefono','jurisdiccion':'Jurisdiccion','localidad':'Localidad'},
axis=1, inplace=True)

In [64]:
df_Museos.drop(['Provincia','Localidad','IdDepartamento','CP', 'Cod_tel','IdProvincia',],axis=1,inplace=True)

In [65]:
df_Museos=df_Museos[['Id', 'Cod_Loc','Nombre','Categoria', 'subcategoria',
       'Direccion', 'Observacion','Piso',  'Web' , 'Info_adicional',
       'Telefono', 'Mail', 'Latitud', 'Longitud', 'TipoLatitudLongitud',
       'Fuente', 'Jurisdiccion', 'Ano_inauguracion', 'Ano_actualizacion']]

**IMPORTACION DE TIPOS DE DATOS QUE UTILIZARE PARA CREAR LA TABLA SIGUIENTE**

In [2]:
from sqlalchemy.types import VARCHAR 
from sqlalchemy.types import INTEGER
from sqlalchemy.types import Text
from sqlalchemy.types import NUMERIC

**CRAER TABLA "Museos"**

In [66]:
df_Museos.to_sql('MUSEOS', con=enginok, if_exists='replace', index=False,
          dtype={"Id":VARCHAR,"Cod_Loc": INTEGER, "Categoria":Text,"subcategoria":Text,
          "Observacion":Text, "Nombre":Text, "Telefono":VARCHAR(200) , "Mail": VARCHAR(200),
          "Web":VARCHAR,  "Info_adicional":Text, "Fuente":VARCHAR(200), 'Latitud':NUMERIC, 'Longitud':NUMERIC, 'TipoLatitudLongitud':Text,
          "Jurisdiccion":VARCHAR(200) , "Ano_inauguracion":INTEGER, "Ano_actualizacion":INTEGER})

182

In [3]:
text=("""SELECT * FROM "MUSEOS"
    WHERE "Cod_Loc"=86119100""")


muestreo = pd.DataFrame(enginok.execute(text))
muestreo.head(2)

Empty DataFrame
Columns: []
Index: []

creando llave Primaria de la tabla Museos

In [5]:
# engineok = sa.create_engine('postgresql://postgres:ADMIN1234@localhost:5432/challenge_data_analyst')

text=("""ALTER TABLE "MUSEOS" ADD PRIMARY KEY ("Id");""") 
# text=("""ALTER TABLE "MUSEOS" ALTER COLUMN "Año_inauguracion" SET NOT NULL;""")
enginok.execute(text)

ProgrammingError: (psycopg2.errors.InvalidTableDefinition) no se permiten múltiples llaves primarias para la tabla «MUSEOS»

[SQL: ALTER TABLE "MUSEOS" ADD PRIMARY KEY ("Id");]
(Background on this error at: https://sqlalche.me/e/14/f405)

Relacines correspondientes 'FOREIGN KEY'

In [4]:
text=("""ALTER TABLE  "MUSEOS"
ADD FOREIGN KEY ( "Cod_Loc") REFERENCES "Localidad" ("Cod_Loc") ;""")
enginok.execute(text)