In [2]:
import sqlalchemy as sa
import urllib 
import pandas as pd 
import psycopg2
from sqlalchemy import text
from conector import enginesexy

In [2]:
# parametros = (
#     'DRIVER=psycopg2;'
#     'SERVER=localhost;'
#     'DATABASE=challenge_data_analyst;'
#     'UID=postgres;'
#     'PWD=ADMIN1234;')

Leemos el .csv/cines para la creacion y normalizacion de la misma

In [3]:

dataC = pd.read_csv("./cines.csv", encoding='UTF-8')
df_Cines = pd.DataFrame(dataC)
df_Cines.sample(2)

,Cod_Loc,IdProvincia,IdDepartamento,Observaciones,CategorÃ­a,Provincia,Departamento,Localidad,Nombre,DirecciÃ³n,...,InformaciÃ³n adicional,Latitud,Longitud,TipoLatitudLongitud,Fuente,tipo_gestion,Pantallas,Butacas,espacio_INCAA,aÃ±o_actualizacion
285,6049020,6,6049,NaN,Salas de cine,Buenos Aires,Azul,Azul,Flix Cinema,Bolivar 416,...,NaN,-36.778360,-59.864783,LocalizaciÃ³n precisa,INCAA / SInCA,Privado comercial,1,160,NaN,2018
258,6826050,6,6826,NaN,Salas de cine,Buenos Aires,Trenque Lauquen,Trenque Lauquen,Espacio Incaa Cine Barrio Alegre,9 De Julio 133,...,NaN,-35.972252,-62.734850,LocalizaciÃ³n precisa,INCAA / SInCA,Privado comercial,1,1200,si,2018

In [4]:
df_Cines['Id']=df_Cines.index
df_Cines['Id']=df_Cines['Id'].astype(str)
df_Cines['Id']=df_Cines['Id']+'C'
df_Cines.sample()

,Cod_Loc,IdProvincia,IdDepartamento,Observaciones,CategorÃ­a,Provincia,Departamento,Localidad,Nombre,DirecciÃ³n,...,Latitud,Longitud,TipoLatitudLongitud,Fuente,tipo_gestion,Pantallas,Butacas,espacio_INCAA,aÃ±o_actualizacion,Id
208,14014010,14,14014,NaN,Salas de cine,CÃ³rdoba,Capital,CÃ³rdoba,Cine Arte CÃ³rdoba,27 De Abril 275,...,-31.415918,-64.188507,LocalizaciÃ³n precisa,INCAA / SInCA,Privado comercial,1,210,NaN,2018,208C

In [49]:
# df_Cines.drop(columns={'Observaciones',  'InformaciÃ³n adicional'},inplace=True)

In [6]:
# df_Cines.drop_duplicates('IdProvincia', inplace=True)

In [7]:
# df_Cines.drop_duplicates('IdDepartamento', inplace=True)

In [54]:
# df_Cines.drop_duplicates('Cod_Loc',inplace=True)

In [85]:
# from sqlalchemy import create_engine
# engine23= create_engine('postgresql://postgres:ADMIN1234@localhost:5432/challenge_data_analyst')

In [5]:
from sqlalchemy.types import VARCHAR 
from sqlalchemy.types import INTEGER
from sqlalchemy.types import Text
from sqlalchemy.types import NUMERIC

In [6]:
df_Cines.rename({'TelÃ©fono':'Telefono','CategorÃ­a':'Categoria','InformaciÃ³n adicional':'Informacion Adicional','espacio_INCAA':'Espacio_Incaa', 'aÃ±o_actualizacion':'Ano_Actualizacion',
'DirecciÃ³n':'Direccion','Observaciones':'Observacion','tipo_gestion':'Tipo_gestion','cod_area':'Cod_tel'},
axis=1, inplace=True)

In [7]:
df_Cines.drop(['Provincia','Departamento','Localidad','IdDepartamento','CP', 'Cod_tel','IdProvincia'],axis=1,inplace=True)

In [8]:
df_Cines=df_Cines[['Id','Cod_Loc' ,'Categoria', 
        'Nombre', 'Direccion', 'Piso','Observacion',  'Informacion Adicional',
        'Telefono', 'Mail', 'Web', 'Latitud', 'Longitud',
        'TipoLatitudLongitud', 'Fuente', 'Tipo_gestion', 'Pantallas', 'Butacas',
        'Espacio_Incaa', 'Ano_Actualizacion']]

In [9]:
df_Cines.columns

Index(['Id', 'Cod_Loc', 'Categoria', 'Nombre', 'Direccion', 'Piso',
       'Observacion', 'Informacion Adicional', 'Telefono', 'Mail', 'Web',
       'Latitud', 'Longitud', 'TipoLatitudLongitud', 'Fuente', 'Tipo_gestion',
       'Pantallas', 'Butacas', 'Espacio_Incaa', 'Ano_Actualizacion'],
      dtype='object')

In [10]:
df_Cines.to_sql('CINES', con=enginesexy, if_exists='replace', index=False,
          dtype={"Id":VARCHAR,"Cod_Loc":INTEGER ,  
          "Categoria":Text , "Observacion":Text,  "Informacion Adicional":Text,
          "Nombre":Text, "Telefono":Text , "Mail": VARCHAR(200),
          "Web":VARCHAR,  "Fuente":VARCHAR(200),'Direccion':Text, 'Piso':Text ,'Latitud':NUMERIC, 'Longitud':NUMERIC, 'TipoLatitudLongitud':Text,
          "Tipo_gestion":VARCHAR(200),"Pantallas":VARCHAR,"Butacas":VARCHAR,"Espacio_Incaa":VARCHAR,  "Ano_Actualizacion":INTEGER, })

329

In [88]:
# df2.to_sql("CINES",con=engine23,if_exists='append',index=False)

329

In [11]:
text=("""SELECT * FROM "CINES"
     WHERE "Cod_Loc"=86119100""")
muestreo1 = pd.DataFrame(enginesexy.execute(text))
muestreo1.head(5)

,Id,Cod_Loc,Categoria,Nombre,Direccion,Piso,Observacion,Informacion Adicional,Telefono,Mail,Web,Latitud,Longitud,TipoLatitudLongitud,Fuente,Tipo_gestion,Pantallas,Butacas,Espacio_Incaa,Ano_Actualizacion
0,29C,86119100,Salas de cine,Cine Teatro,Rivadavia 553,s/d,None,None,402187,sixtomadiaz@hotmail.com,https://www.municipalidaddequimili.gob.ar/,-27.644486,-62.413799,LocalizaciÃ³n precisa,INCAA / SInCA,PÃºblico municipal,1,136,None,2018

creacion de llave Primaria de la tabla CINES

In [12]:
engineok = sa.create_engine('postgresql://postgres:ADMIN1234@localhost:5432/challenge_data_analyst')

text=("""ALTER TABLE "CINES" ADD PRIMARY KEY ("Id");""") 
# text=("""SELECT * FROM "BIBLIOTECA" WHERE "IdProvincia"=30""")
engineok.execute(text)

Relacines correspondientes 'FOREIGN KEY'

In [13]:
text=("""ALTER TABLE  "CINES"
ADD FOREIGN KEY ( "Cod_Loc")  REFERENCES "Localidad" ("Cod_Loc") ;""")
engineok.execute(text)