In [60]:
import sqlalchemy as sa
import urllib 
import pandas as pd 
import psycopg2
from sqlalchemy import text
from conector import enginesexy

In [13]:
# parametros = (
#     'DRIVER=psycopg2;'
#     'SERVER=localhost;'
#     'DATABASE=challenge_data_analyst;'
#     'UID=postgres;'
#     'PWD=ADMIN1234;')

In [89]:
data = pd.read_csv("./museos.csv")
df_Museos = pd.DataFrame(data)
df_Museos.sample(2)

,Cod_Loc,IdProvincia,IdDepartamento,Observaciones,categoria,subcategoria,provincia,localidad,nombre,direccion,...,Mail,Web,Latitud,Longitud,TipoLatitudLongitud,Info_adicional,fuente,jurisdiccion,aÃ±o_inauguracion,actualizacion
424,14007210,14,14007,NaN,Espacios de ExhibiciÃ³n Patrimonial,Museos,CÃ³rdoba,"Embalse, RÃ­o Tercero",Museo Eva PerÃ³n,Camino a la Cruz S/N,...,NaN,NaN,-32.208932,-64.400599,LocalizaciÃ³n precisa,NaN,DNPyM,Nacional,NaN,2017
87,6525020,6,6525,NaN,Espacios de ExhibiciÃ³n Patrimonial,Museos,Buenos Aires,Marcos Paz,Museo De Arte Hispano Luso Americano Y Del Fol...,HipÃ³lito Irigoyen 377,...,NaN,NaN,-34.784300,-58.832600,LocalizaciÃ³n precisa,NaN,DNPyM,Privada,1948.0,2017

In [90]:
df_Museos['Id']=df_Museos.index
df_Museos['Id']=df_Museos['Id'].astype(str)
df_Museos['Id']=df_Museos['Id']+'M'
df_Museos.sample()

,Cod_Loc,IdProvincia,IdDepartamento,Observaciones,categoria,subcategoria,provincia,localidad,nombre,direccion,...,Web,Latitud,Longitud,TipoLatitudLongitud,Info_adicional,fuente,jurisdiccion,aÃ±o_inauguracion,actualizacion,Id
212,22140060,22,22140,NaN,Espacios de ExhibiciÃ³n Patrimonial,Museos,Chaco,Resistencia,Museo Policial Del Chaco Carlos Chiesanova,Julio A. Roca 233,...,NaN,-27.450254,-58.98956,LocalizaciÃ³n precisa,NaN,DNPyM,Provincial,1981.0,2017,212M

In [5]:
# df_Museos.drop(columns={'Observaciones', 'piso', 'Web' , 'Info_adicional'},inplace=True)

In [58]:
# df_Museos.drop_duplicates('IdProvincia',inplace=True)

In [59]:
# df_Museos.drop_duplicates('Cod_Loc',inplace=True)

In [19]:
# from sqlalchemy import create_engine
# engine23= create_engine('postgresql://postgres:ADMIN1234@localhost:5432/challenge_data_analyst')
# engine23 = create_engine('postgresql+psycopg2://postgres:admin1234/@localhost/challenge_data_analyst')

In [82]:
from sqlalchemy.types import Integer
from sqlalchemy.types import DATE
from sqlalchemy.types import VARCHAR 
from sqlalchemy.types import INTEGER
from sqlalchemy.types import Text
from sqlalchemy.types import DATETIME
from sqlalchemy.types import Float
from sqlalchemy.types import NUMERIC

In [8]:
df_Museos.columns

Index(['IdMuseos', 'IdProvincia', 'provincia', 'IdDepartamento', 'Cod_Loc',
       'localidad', 'nombre', 'categoria', 'subcategoria', 'direccion', 'CP',
       'cod_area', 'Observaciones', 'piso', 'Web', 'Info_adicional',
       'telefono', 'Mail', 'Latitud', 'Longitud', 'TipoLatitudLongitud',
       'fuente', 'jurisdiccion', 'aÃ±o_inauguracion', 'actualizacion'],
      dtype='object')

In [91]:
df_Museos.rename({'aÃ±o_inauguracion':'Ano_inauguracion','actualizacion':'Ano_actualizacion',
'direccion':'Direccion','provincia':'Provincia', 'fuente':'Fuente', 'categoria':'Categoria','Observaciones':'Observacion','nombre':'Nombre'},
axis=1, inplace=True)

In [92]:
df_Museos.drop(['Provincia'],axis=1,inplace=True)

In [93]:
df_Museos=df_Museos[['Id', 'IdProvincia','IdDepartamento','Cod_Loc','Nombre','Categoria', 'subcategoria',
       'Direccion', 'CP', 'cod_area','Observacion','piso',  'Web' , 'Info_adicional',
       'telefono', 'Mail', 'Latitud', 'Longitud', 'TipoLatitudLongitud',
       'Fuente', 'jurisdiccion', 'Ano_inauguracion', 'Ano_actualizacion']]

In [94]:
df_Museos.to_sql('MUSEOS', con=enginesexy, if_exists='replace', index=False,
          dtype={"Id":VARCHAR,"Cod_Loc": INTEGER, "Id_Provincia": INTEGER , "Id_Departamento":INTEGER,
          "Observacion":Text,"Categoria":Text,"subcategoria":Text,  
          "Nombre":Text,  "Cod_area":VARCHAR(200) , "Telefono":VARCHAR(200) , "Mail": VARCHAR(200),
          "Web":VARCHAR,  "Info_adicional":Text, "Fuente":VARCHAR(200),
          "jurisdiccion":VARCHAR(200) , "Ano_inauguracion":INTEGER, "Ano_actualizacion":INTEGER})

182

In [22]:
# engine23.connect('SELECT *FROM MUSEOS;')
# df3.to_sql("MUSEOS",con=engine23,if_exists='append',index=False)

182

In [28]:
text=("""SELECT * FROM "MUSEOS"
    WHERE "IdProvincia"=30""")
muestreo = pd.DataFrame(enginesexy.execute(text))
muestreo.head()

,IdMuseos,IdProvincia,IdDepartamento,Cod_Loc,nombre,Categoria,subcategoria,cod_area,Observaciones,Web,Info_adicional,telefono,Mail,Fuente,jurisdiccion,aÃ±o_inauguracion,Año_Actualizacion
0,534M,30,30028,30028010,Museo Municipal Ivy Mara Ey - La Tierra Sin Mal,Espacios de ExhibiciÃ³n Patrimonial,Museos,3456.0,None,None,None,420 730,None,DNPyM,Municipal,None,2017

In [88]:
engineok = sa.create_engine('postgresql://postgres:ADMIN1234@localhost:5432/challenge_data_analyst')

text=("""ALTER TABLE "MUSEOS" ADD PRIMARY KEY ("Id");""") 
# text=("""ALTER TABLE "MUSEOS" ALTER COLUMN "Año_inauguracion" SET NOT NULL;""")
engineok.execute(text)

In [30]:
text=("""ALTER TABLE  "MUSEOS"
ADD FOREIGN KEY ("IdProvincia") REFERENCES "Provincia" ("IdProvincia") ;""")
 
engineok.execute(text)

In [31]:
text=("""ALTER TABLE  "Provincia" 
ADD FOREIGN KEY ("IdDepartamento") REFERENCES "Departamento" ("IdDepartamento");""")

engineok.execute(text)

In [32]:
text=("""ALTER TABLE  "Departamento"
ADD FOREIGN KEY ("Cod_Loc")  REFERENCES "Localidad" ("Cod_Loc") ;""")
 
engineok.execute(text)