In [106]:
import sqlalchemy as sa
import urllib 
import pandas as pd 
import psycopg2
from sqlalchemy import text
from conector import enginesexy

In [13]:
# parametros = (
#     'DRIVER=psycopg2;'
#     'SERVER=localhost;'
#     'DATABASE=challenge_data_analyst;'
#     'UID=postgres;'
#     'PWD=ADMIN1234;')

In [78]:
data = pd.read_csv("./biblioteca.csv")
df_Biblioteca = pd.DataFrame(data)
df_Biblioteca.sample(2)

,Cod_Loc,IdProvincia,IdDepartamento,Observacion,CategorÃ­a,Subcategoria,Provincia,Departamento,Localidad,Nombre,...,Mail,Web,InformaciÃ³n adicional,Latitud,Longitud,TipoLatitudLongitud,Fuente,Tipo_gestion,aÃ±o_inicio,AÃ±o_actualizacion
745,58035040,58,58035,NaN,Bibliotecas Populares,NaN,NeuquÃ©n,Confluencia,Cutral Co,Biblioteca Popular Carlos H. RodrÃ­guez,...,bibichrodriguez@copelnet.com.ar,NaN,NaN,-38.93345,-69.231117,LocalizaciÃ³n precisa,CONABIP,Comunitaria,1958.0,2018
1397,66028050,66,66028,NaN,Bibliotecas Populares,NaN,Salta,Capital,Salta,Biblioteca Popular Antonio Nella Castro,...,biblionellacastro.@yahoo.com.ar,NaN,NaN,-24.81140,-65.403833,LocalizaciÃ³n precisa,CONABIP,Comunitaria,1996.0,2018

In [79]:
df_Biblioteca['IdBiblioteca']=df_Biblioteca.index

In [80]:
df_Biblioteca.drop(columns={'Observacion', 'Subcategoria', 'Piso', 'Web', 'InformaciÃ³n adicional'},inplace=True)

In [81]:
df_Biblioteca=df_Biblioteca[['IdBiblioteca','IdProvincia','Provincia','IdDepartamento','Departamento','Cod_Loc', 'Localidad', 'CategorÃ­a', 
       'Nombre', 'Domicilio', 'CP', 'Cod_tel',
       'TelÃ©fono', 'Mail', 'Latitud', 'Longitud', 'TipoLatitudLongitud',
       'Fuente', 'Tipo_gestion', 'aÃ±o_inicio', 'AÃ±o_actualizacion',]]

In [82]:
df_Provincia=df_Biblioteca[['IdProvincia','Provincia']]
df_Provincia.sample()

     IdProvincia Provincia
470           14  CÃ³rdoba

In [83]:
df_Provincia.drop_duplicates('IdProvincia', inplace=True)

C:\Users\Yesica\AppData\Local\Temp\ipykernel_30160\813221403.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_Provincia.drop_duplicates('IdProvincia', inplace=True)

In [84]:
# df_Provincia['IdProvincia'].nunique()
df_Provincia.size

48

In [197]:
# df_Provincia['IdUnico']=df_Provincia.index

C:\Users\Yesica\AppData\Local\Temp\ipykernel_17348\3624346466.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_Provincia['IdUnico']=df_Provincia.index

In [85]:
df_Provincia=df_Provincia[['IdProvincia','Provincia']]

In [86]:
df_Departamento=df_Biblioteca[['IdDepartamento','Departamento']]
df_Departamento.sample()

      IdDepartamento Departamento
1369           14007  Calamuchita

In [87]:
df_Departamento.drop_duplicates('IdDepartamento', inplace=True)

C:\Users\Yesica\AppData\Local\Temp\ipykernel_30160\3589807498.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_Departamento.drop_duplicates('IdDepartamento', inplace=True)

In [133]:
# df_Departamento['Id']=df_Departamento.index

In [88]:
df_Departamento=df_Departamento[['IdDepartamento','Departamento']]

In [89]:
df_Localidad=df_Biblioteca[['Cod_Loc', 'Localidad','Domicilio', 'CP','Latitud', 'Longitud', 'TipoLatitudLongitud']]
df_Localidad.sample()

,Cod_Loc,Localidad,Domicilio,CP,Latitud,Longitud,TipoLatitudLongitud
999,34021020,Lucio V. Mansilla,ex EstaciÃ³n Ferrocarril,3526,-26.654268,-58.624367,LocalizaciÃ³n precisa

In [90]:
df_Localidad.drop_duplicates('Cod_Loc', inplace=True)

C:\Users\Yesica\AppData\Local\Temp\ipykernel_30160\3150280777.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_Localidad.drop_duplicates('Cod_Loc', inplace=True)

In [136]:
# df_Localidad['Id']=df_Localidad.index

In [92]:
df_Localidad=df_Localidad[['Cod_Loc', 'Localidad','Domicilio', 'CP','Latitud', 'Longitud', 'TipoLatitudLongitud']]

In [43]:
# from sqlalchemy import create_engine
# engine23 = create_engine('postgresql://postgres:ADMIN1234@localhost:5432/challenge_data_analyst')
# engine24 = create_engine('postgresql+psycopg2://psycopg2:ADMIN1234@localhost:5432/challenge_data_analyst')

In [93]:
from sqlalchemy.types import Integer
from sqlalchemy.types import DATE
from sqlalchemy.types import VARCHAR 
from sqlalchemy.types import INTEGER
from sqlalchemy.types import Text
from sqlalchemy.types import DATETIME
from sqlalchemy.types import Float
from sqlalchemy.types import NUMERIC

In [94]:
df_Biblioteca.drop(['Provincia','Departamento','Localidad','Domicilio', 'CP','Latitud', 'Longitud', 'TipoLatitudLongitud'],axis=1,inplace=True)

In [95]:
df_Biblioteca.to_sql('BIBLIOTECA', con=enginesexy, if_exists='replace', index=False,
          dtype={"IdBiblioteca":INTEGER, "Cod_Loc": INTEGER, "Id_Provincia": INTEGER , "Id_Departamento":INTEGER,
          "Categoria":Text,  
          "Nombre":Text,  "Cod_tel":VARCHAR(100) , "Telefono":VARCHAR(100) , "Mail": VARCHAR(100),
          "Fuente":VARCHAR(100),
          "Tipo_gestion":VARCHAR(100) , "Año_inicio":INTEGER, "Año_actualizacion":INTEGER, })

17

In [96]:
df_Provincia.to_sql('Provincia', con=enginesexy, if_exists='replace', index=False,
        dtype={'IdProvincia':INTEGER,'Provincia':Text, })

24

In [97]:
df_Departamento.to_sql('Departamento',con=enginesexy,if_exists='replace', index=False,
        dtype={'IdDepartamento':INTEGER,'Departamento':Text,})

442

In [98]:
df_Localidad.to_sql('Localidad',con=enginesexy,if_exists='replace', index=False,
        dtype={'Cod_Loc':INTEGER, 'Localidad':Text,'Domicilio':Text, 'CP':Text,'Latitud':NUMERIC, 'Longitud':NUMERIC, 'TipoLatitudLongitud':Text,})

83

In [ ]:
# engine23.connect('SELECT *FROM BIBLIOTECA;')
# df.to_sql("BIBLIOTECA",con=engine23,if_exists='append',index=False)

In [107]:
text=("""SELECT * FROM "BIBLIOTECA"
    WHERE "IdProvincia"=70""")
# text("""ALTER TABLE "BIBLIOTECA" ADD PRIMARY KEY ("IdBiblioteca");""")   


# with enginesexy.connect() as conn:
#     conn.execute(text)


muestreo = pd.DataFrame(enginesexy.execute(text))
muestreo.head(2)

# engine24.execute(text=(""" SELECT * FROM BIBLIOTECA
#     WHERE IdProvincia=30;"""))se
# conn = engine23.connect()
# # muestreo = pd.DataFrame(enginesexy.execute(text))
# muestreo.head(3)
# enginesexy.execute(text)

,IdBiblioteca,IdProvincia,IdDepartamento,Cod_Loc,CategorÃ­a,Nombre,Cod_tel,TelÃ©fono,Mail,Fuente,Tipo_gestion,aÃ±o_inicio,AÃ±o_actualizacion
0,0,70,70049,70049060,Bibliotecas Populares,Biblioteca Popular Juan P. Garramuno,s/d,s/d,s/d,CONABIP,Comunitaria,1930.0,2018
1,197,70,70028,70028010,Bibliotecas Populares,Biblioteca Popular BartolomÃ© Mitre,264,4204469,bibliop_bmitre@yahoo.com.ar,CONABIP,Comunitaria,1910.0,2018

In [100]:
engineok = sa.create_engine('postgresql://postgres:ADMIN1234@localhost:5432/challenge_data_analyst')

text=("""ALTER TABLE "BIBLIOTECA" ADD PRIMARY KEY ("IdBiblioteca");""") 

engineok.execute(text)

In [101]:
engineok = sa.create_engine('postgresql://postgres:ADMIN1234@localhost:5432/challenge_data_analyst')

text=("""ALTER TABLE "Provincia" ADD PRIMARY KEY ("IdProvincia") ;""") 

engineok.execute(text)

In [102]:
engineok = sa.create_engine('postgresql://postgres:ADMIN1234@localhost:5432/challenge_data_analyst')

text=("""ALTER TABLE "Departamento" ADD PRIMARY KEY ("IdDepartamento") ;""") 

engineok.execute(text)

In [103]:
engineok = sa.create_engine('postgresql://postgres:ADMIN1234@localhost:5432/challenge_data_analyst')

text=("""ALTER TABLE "Localidad" ADD PRIMARY KEY ("Cod_Loc") ;""") 

engineok.execute(text)

In [109]:
engineok = sa.create_engine('postgresql://postgres:ADMIN1234@localhost:5432/challenge_data_analyst')

text=("""ALTER TABLE  "BIBLIOTECA"
ADD FOREIGN KEY ("Cod_Loc")  REFERENCES "Localidad" ("Cod_Loc") ;""")
 
engineok.execute(text)

In [110]:
engineok = sa.create_engine('postgresql://postgres:ADMIN1234@localhost:5432/challenge_data_analyst')

text=("""ALTER TABLE  "BIBLIOTECA" ADD FOREIGN KEY ("IdProvincia") REFERENCES "Provincia" ("IdProvincia");""")

engineok.execute(text)

In [111]:
engineok = sa.create_engine('postgresql://postgres:ADMIN1234@localhost:5432/challenge_data_analyst')

text=("""ALTER TABLE  "BIBLIOTECA"
ADD FOREIGN KEY ("IdDepartamento") REFERENCES "Departamento" ("IdDepartamento") ;""")
 
engineok.execute(text)