In [3]:
import sqlalchemy as sa
import urllib 
import pandas as pd 
import psycopg2
from sqlalchemy import text
from conector import enginesexy

In [72]:
# parametros = (
#     'DRIVER=psycopg2;'
#     'SERVER=localhost;'
#     'DATABASE=challenge_data_analyst;'
#     'UID=postgres;'
#     'PWD=ADMIN1234;')

In [5]:
data = pd.read_csv("./biblioteca.csv")
df_Biblioteca = pd.DataFrame(data)
df_Biblioteca.sample(2)

,Cod_Loc,IdProvincia,IdDepartamento,Observacion,CategorÃ­a,Subcategoria,Provincia,Departamento,Localidad,Nombre,...,Mail,Web,InformaciÃ³n adicional,Latitud,Longitud,TipoLatitudLongitud,Fuente,Tipo_gestion,aÃ±o_inicio,AÃ±o_actualizacion
73,6371010,6,6371,NaN,Bibliotecas Populares,NaN,Buenos Aires,General San Martin,General San MartÃ­n,Biblioteca Popular General San MartÃ­n,...,bibliopopsanmartin2001@yahoo.com.ar,NaN,NaN,-34.575767,-58.539117,LocalizaciÃ³n precisa,CONABIP,Comunitaria,1914.0,2018
1211,6260010,6,6260,NaN,Bibliotecas Populares,NaN,Buenos Aires,Esteban Echeverria,Monte Grande,Biblioteca Popular El principito de Monte Grande,...,bibliotecaelprincipito@yahoo.com.ar,NaN,NaN,-34.826183,-58.451317,LocalizaciÃ³n precisa,CONABIP,Comunitaria,1930.0,2018

In [102]:
df_Biblioteca.count()

Cod_Loc                   2017
IdProvincia               2017
IdDepartamento            2017
Observacion                  0
CategorÃ­a                2017
Subcategoria                 0
Provincia                 2017
Departamento              2017
Localidad                 2017
Nombre                    2017
Domicilio                 2017
Piso                         0
CP                        2017
Cod_tel                   2017
TelÃ©fono                 2017
Mail                      2017
Web                          0
InformaciÃ³n adicional       0
Latitud                   2017
Longitud                  2017
TipoLatitudLongitud       2017
Fuente                    2017
Tipo_gestion              2017
aÃ±o_inicio               2010
AÃ±o_actualizacion        2017
dtype: int64

In [6]:
df_Biblioteca['IdBiblioteca']=df_Biblioteca.index

In [80]:
# df_Biblioteca.drop(columns={'Observacion', 'Subcategoria', 'Piso', 'Web', 'InformaciÃ³n adicional'},inplace=True)

In [7]:
df_Biblioteca=df_Biblioteca[['IdBiblioteca','IdProvincia','Provincia','IdDepartamento','Departamento','Cod_Loc', 'Localidad', 'CategorÃ­a', 
       'Nombre', 'Domicilio', 'CP', 'Cod_tel',
       'TelÃ©fono', 'Mail','Observacion', 'Subcategoria', 'Piso', 'Web', 'InformaciÃ³n adicional', 'Latitud', 'Longitud', 'TipoLatitudLongitud',
       'Fuente', 'Tipo_gestion', 'aÃ±o_inicio', 'AÃ±o_actualizacion',]]

In [105]:
df_Provincia=df_Biblioteca[['IdProvincia','Provincia','IdDepartamento','Cod_Loc']]
df_Provincia.sample()

     IdProvincia Provincia  IdDepartamento   Cod_Loc
704           14  CÃ³rdoba           14056  14056070

In [106]:
df_Provincia.drop_duplicates('IdProvincia', inplace=True)

C:\Users\Yesica\AppData\Local\Temp\ipykernel_18964\813221403.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_Provincia.drop_duplicates('IdProvincia', inplace=True)

In [107]:
# df_Provincia['IdProvincia'].nunique()
df_Provincia.count()

IdProvincia       24
Provincia         24
IdDepartamento    24
Cod_Loc           24
dtype: int64

In [ ]:
# df_Provincia['IdUnico']=df_Provincia.index

In [108]:
df_Provincia=df_Provincia[['IdProvincia','Provincia','IdDepartamento','Cod_Loc']]

In [109]:
df_Departamento=df_Biblioteca[['IdDepartamento','Departamento','IdProvincia','Cod_Loc']]
df_Departamento.sample()

    IdDepartamento Departamento  IdProvincia   Cod_Loc
75           30098      Uruguay           30  30098040

In [110]:
df_Departamento.drop_duplicates('IdDepartamento', inplace=True)

C:\Users\Yesica\AppData\Local\Temp\ipykernel_18964\3589807498.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_Departamento.drop_duplicates('IdDepartamento', inplace=True)

In [133]:
# df_Departamento['Id']=df_Departamento.index

In [111]:
df_Departamento=df_Departamento[['IdDepartamento','Departamento','IdProvincia','Cod_Loc']]

In [112]:
df_Departamento.count()

IdDepartamento    442
Departamento      442
IdProvincia       442
Cod_Loc           442
dtype: int64

In [113]:
df_Localidad=df_Biblioteca[['Cod_Loc', 'Localidad','IdDepartamento','IdProvincia','Domicilio', 'Piso', 'CP','Latitud', 'Longitud', 'TipoLatitudLongitud']]
df_Localidad.sample()

,Cod_Loc,Localidad,IdDepartamento,IdProvincia,Domicilio,Piso,CP,Latitud,Longitud,TipoLatitudLongitud
1596,74028020,Cortaderas,74028,74,Av. Juan Domingo PerÃ³n,NaN,5883,-32.505583,-64.990333,LocalizaciÃ³n precisa

In [114]:
df_Localidad.count()

Cod_Loc                2017
Localidad              2017
IdDepartamento         2017
IdProvincia            2017
Domicilio              2017
Piso                      0
CP                     2017
Latitud                2017
Longitud               2017
TipoLatitudLongitud    2017
dtype: int64

In [128]:
df_Localidad.drop_duplicates('Cod_Loc', inplace=True)

In [136]:
# df_Localidad['Id']=df_Localidad.index

In [115]:
df_Localidad=df_Localidad[['Cod_Loc', 'Localidad','IdDepartamento','IdProvincia','Domicilio', 'Piso','CP','Latitud', 'Longitud', 'TipoLatitudLongitud']]

In [43]:
# from sqlalchemy import create_engine
# engine23 = create_engine('postgresql://postgres:ADMIN1234@localhost:5432/challenge_data_analyst')
# engine24 = create_engine('postgresql+psycopg2://psycopg2:ADMIN1234@localhost:5432/challenge_data_analyst')

In [11]:
from sqlalchemy.types import Integer
from sqlalchemy.types import DATE
from sqlalchemy.types import VARCHAR 
from sqlalchemy.types import INTEGER
from sqlalchemy.types import Text
from sqlalchemy.types import DATETIME
from sqlalchemy.types import Float
from sqlalchemy.types import NUMERIC

**RENOMBRAR COLUMNAS**

In [8]:
df_Biblioteca.rename({'TelÃ©fono':'Telefono'}, axis=1, inplace=True)

In [9]:
df_Biblioteca.drop(['Provincia','Departamento','Localidad','Domicilio','Piso', 'CP','Latitud', 'Longitud', 'TipoLatitudLongitud'],axis=1,inplace=True)

In [12]:
df_Biblioteca.to_sql('BIBLIOTECA', con=enginesexy, if_exists='replace', index=False,
          dtype={"IdBiblioteca":INTEGER, "Cod_Loc": INTEGER, "Id_Provincia": INTEGER , "Id_Departamento":INTEGER,
          "Categoria":Text,"Observacion":Text, "Subcategoria":Text,"InformaciÃ³n adicional":Text,  
          "Nombre":Text,  "Cod_tel":VARCHAR(100) , "Telefono":VARCHAR(100), "Web":VARCHAR(100), "Mail": VARCHAR(100),
          "Fuente":VARCHAR(100),
          "Tipo_gestion":VARCHAR(100) , "Año_inicio":INTEGER, "Año_actualizacion":INTEGER, })

17

In [120]:
df_Provincia.to_sql('Provincia', con=enginesexy, if_exists='replace', index=False,
        dtype={'IdProvincia':INTEGER,'Provincia':Text,'IdDepartamento':INTEGER,'Cod_Loc':INTEGER })

24

In [121]:
df_Departamento.to_sql('Departamento',con=enginesexy,if_exists='replace', index=False,
        dtype={'IdDepartamento':INTEGER,'Departamento':Text,'IdProvincia':INTEGER,'Cod_Loc':INTEGER})

442

In [129]:
df_Localidad.to_sql('Localidad',con=enginesexy,if_exists='replace', index=False,
        dtype={'Cod_Loc':INTEGER, 'Localidad':Text,'IdDepartamento':INTEGER,'IdProvincia':INTEGER,'Domicilio':Text,'Piso':Text, 'CP':Text,'Latitud':NUMERIC, 'Longitud':NUMERIC, 'TipoLatitudLongitud':Text,})

83

In [ ]:
# engine23.connect('SELECT *FROM BIBLIOTECA;')
# df.to_sql("BIBLIOTECA",con=engine23,if_exists='append',index=False)

In [2]:
text=("""SELECT * FROM "BIBLIOTECA"
    WHERE "IdProvincia"=70""")
# text("""ALTER TABLE "BIBLIOTECA" ADD PRIMARY KEY ("IdBiblioteca");""")   


# with enginesexy.connect() as conn:
#     conn.execute(text)


muestreo = pd.DataFrame(enginesexy.execute(text))
muestreo.head(2)

# engine24.execute(text=(""" SELECT * FROM BIBLIOTECA
#     WHERE IdProvincia=30;"""))se
# conn = engine23.connect()
# # muestreo = pd.DataFrame(enginesexy.execute(text))
# muestreo.head(3)
# enginesexy.execute(text)

,IdBiblioteca,IdProvincia,IdDepartamento,Cod_Loc,CategorÃ­a,Nombre,Cod_tel,TelÃ©fono,Mail,Observacion,Subcategoria,Web,InformaciÃ³n adicional,Fuente,Tipo_gestion,aÃ±o_inicio,AÃ±o_actualizacion
0,0,70,70049,70049060,Bibliotecas Populares,Biblioteca Popular Juan P. Garramuno,s/d,s/d,s/d,None,None,None,None,CONABIP,Comunitaria,1930.0,2018
1,197,70,70028,70028010,Bibliotecas Populares,Biblioteca Popular BartolomÃ© Mitre,264,4204469,bibliop_bmitre@yahoo.com.ar,None,None,None,None,CONABIP,Comunitaria,1910.0,2018

In [124]:
engineok = sa.create_engine('postgresql://postgres:ADMIN1234@localhost:5432/challenge_data_analyst')

text=("""ALTER TABLE "BIBLIOTECA" ADD PRIMARY KEY ("IdBiblioteca");""") 

engineok.execute(text)

In [125]:
engineok = sa.create_engine('postgresql://postgres:ADMIN1234@localhost:5432/challenge_data_analyst')

text=("""ALTER TABLE "Provincia" ADD PRIMARY KEY ("IdProvincia") ;""") 

engineok.execute(text)

In [126]:
engineok = sa.create_engine('postgresql://postgres:ADMIN1234@localhost:5432/challenge_data_analyst')

text=("""ALTER TABLE "Departamento" ADD PRIMARY KEY ("IdDepartamento") ;""") 

engineok.execute(text)

In [130]:
engineok = sa.create_engine('postgresql://postgres:ADMIN1234@localhost:5432/challenge_data_analyst')

text=("""ALTER TABLE "Localidad" ADD PRIMARY KEY ("Cod_Loc") ;""") 

engineok.execute(text)

In [131]:
engineok = sa.create_engine('postgresql://postgres:ADMIN1234@localhost:5432/challenge_data_analyst')

text=("""ALTER TABLE  "BIBLIOTECA"
ADD FOREIGN KEY ("Cod_Loc")  REFERENCES "Localidad" ("Cod_Loc") ;""")
 
engineok.execute(text)

In [132]:
engineok = sa.create_engine('postgresql://postgres:ADMIN1234@localhost:5432/challenge_data_analyst')

text=("""ALTER TABLE  "Localidad" 
ADD FOREIGN KEY ("IdDepartamento") REFERENCES "Departamento" ("IdDepartamento");""")

engineok.execute(text)

In [134]:
engineok = sa.create_engine('postgresql://postgres:ADMIN1234@localhost:5432/challenge_data_analyst')

text=("""ALTER TABLE  "Departamento"
ADD FOREIGN KEY ("IdProvincia") REFERENCES "Provincia" ("IdProvincia") ;""")
 
engineok.execute(text)