In [9]:
import sqlalchemy as sa
import urllib 
import pandas as pd 
import psycopg2
from sqlalchemy import text
from conector import enginesexy

In [72]:
# parametros = (
#     'DRIVER=psycopg2;'
#     'SERVER=localhost;'
#     'DATABASE=challenge_data_analyst;'
#     'UID=postgres;'
#     'PWD=ADMIN1234;')

Leemos el .csv/Biblioteca para la creacion y normalizacion de la misma

In [10]:
data = pd.read_csv("./biblioteca.csv")
df_Biblioteca = pd.DataFrame(data)
df_Biblioteca.sample(2)

,Cod_Loc,IdProvincia,IdDepartamento,Observacion,CategorÃ­a,Subcategoria,Provincia,Departamento,Localidad,Nombre,...,Mail,Web,InformaciÃ³n adicional,Latitud,Longitud,TipoLatitudLongitud,Fuente,Tipo_gestion,aÃ±o_inicio,AÃ±o_actualizacion
16,6224010,6,6224,NaN,Bibliotecas Populares,NaN,Buenos Aires,Chivilcoy,Chivilcoy,Biblioteca Popular Dr. Antonio Novaro,...,novaro1@hotmail.com,NaN,NaN,-34.896533,-60.017683,LocalizaciÃ³n precisa,CONABIP,Comunitaria,1895.0,2018
839,54077060,54,54077,NaN,Bibliotecas Populares,NaN,Misiones,Libertador Grl. San Martin,Puerto Rico,Biblioteca Popular Horacio Quiroga de Puerto Rico,...,bibliotecahoracioquiroga@live.com,NaN,NaN,-26.811050,-55.020133,LocalizaciÃ³n precisa,CONABIP,Comunitaria,1962.0,2018

In [11]:
df_Biblioteca['Id']=df_Biblioteca.index
df_Biblioteca['Id']=df_Biblioteca['Id'].astype(str)
df_Biblioteca['Id']=df_Biblioteca['Id']+'B'
df_Biblioteca.sample()

,Cod_Loc,IdProvincia,IdDepartamento,Observacion,CategorÃ­a,Subcategoria,Provincia,Departamento,Localidad,Nombre,...,Web,InformaciÃ³n adicional,Latitud,Longitud,TipoLatitudLongitud,Fuente,Tipo_gestion,aÃ±o_inicio,AÃ±o_actualizacion,Id
1076,26007030,26,26007,NaN,Bibliotecas Populares,NaN,Chubut,Biedma,Puerto Piramides,Biblioteca Popular AsunciÃ³n Cobo,...,NaN,NaN,-42.57156,-64.27198,LocalizaciÃ³n precisa,CONABIP,Comunitaria,1930.0,2018,1076B

In [80]:
# df_Biblioteca.drop(columns={'Observacion', 'Subcategoria', 'Piso', 'Web', 'InformaciÃ³n adicional'},inplace=True)

In [ ]:
# df_Provincia['IdUnico']=df_Provincia.index

In [133]:
# df_Departamento['Id']=df_Departamento.index

In [136]:
# df_Localidad['Id']=df_Localidad.index

In [43]:
# from sqlalchemy import create_engine
# engine23 = create_engine('postgresql://postgres:ADMIN1234@localhost:5432/challenge_data_analyst')
# engine24 = create_engine('postgresql+psycopg2://psycopg2:ADMIN1234@localhost:5432/challenge_data_analyst')

In [12]:
from sqlalchemy.types import VARCHAR 
from sqlalchemy.types import INTEGER
from sqlalchemy.types import Text
from sqlalchemy.types import NUMERIC

**RENOMBRAR COLUMNAS**

In [13]:
df_Biblioteca.rename({'TelÃ©fono':'Telefono','CategorÃ­a':'Categoria','InformaciÃ³n adicional':'Informacion Adicional','aÃ±o_inicio':'Ano_Inicio', 'AÃ±o_actualizacion':'Ano_Actualizacion'},
axis=1, inplace=True)

In [14]:
df_Biblioteca.drop(['Provincia','Departamento','Localidad'],axis=1,inplace=True)

In [17]:
f_Biblioteca=df_Biblioteca[['Id','IdProvincia','IdDepartamento','Cod_Loc',  'Categoria', 
       'Nombre', 'Domicilio', 'CP', 'Cod_tel',
       'Telefono', 'Mail','Observacion', 'Subcategoria', 'Piso', 'Web', 'Informacion Adicional', 'Latitud', 'Longitud', 'TipoLatitudLongitud',
       'Fuente', 'Tipo_gestion', 'Ano_Inicio', 'Ano_Actualizacion',]]

In [18]:
df_Biblioteca.count()

Cod_Loc                  2017
IdProvincia              2017
IdDepartamento           2017
Observacion                 0
Categoria                2017
Subcategoria                0
Nombre                   2017
Domicilio                2017
Piso                        0
CP                       2017
Cod_tel                  2017
Telefono                 2017
Mail                     2017
Web                         0
Informacion Adicional       0
Latitud                  2017
Longitud                 2017
TipoLatitudLongitud      2017
Fuente                   2017
Tipo_gestion             2017
Ano_Inicio               2010
Ano_Actualizacion        2017
Id                       2017
dtype: int64

In [19]:
df_Biblioteca.to_sql('BIBLIOTECA', con=enginesexy, if_exists='replace', index=False,
          dtype={"Id":VARCHAR, "Cod_Loc": INTEGER, "Id_Provincia": INTEGER , "Id_Departamento":INTEGER,
          "Categoria":Text,"Observacion":Text, "Subcategoria":Text,"InformaciÃ³n adicional":Text,  
          "Nombre":Text,  "Cod_tel":VARCHAR(100) , "Telefono":VARCHAR(100), "Web":VARCHAR(100), "Mail": VARCHAR(100),
          "Fuente":VARCHAR(100),'Domicilio':Text,'Piso':Text, 'CP':Text,'Latitud':NUMERIC, 'Longitud':NUMERIC, 'TipoLatitudLongitud':Text,
          "Tipo_gestion":VARCHAR(100) , "Ano_inicio":INTEGER, "Ano_actualizacion":INTEGER, })

17

In [ ]:
# engine23.connect('SELECT *FROM BIBLIOTECA;')
# df.to_sql("BIBLIOTECA",con=engine23,if_exists='append',index=False)

In [20]:
text=("""SELECT * FROM "BIBLIOTECA"
    WHERE "IdProvincia"=70""")
# text("""ALTER TABLE "BIBLIOTECA" ADD PRIMARY KEY ("IdBiblioteca");""")   


# with enginesexy.connect() as conn:
#     conn.execute(text)


muestreo = pd.DataFrame(enginesexy.execute(text))
muestreo.head(2)

# engine24.execute(text=(""" SELECT * FROM BIBLIOTECA
#     WHERE IdProvincia=30;"""))se
# conn = engine23.connect()
# # muestreo = pd.DataFrame(enginesexy.execute(text))
# muestreo.head(3)
# enginesexy.execute(text)

,Cod_Loc,IdProvincia,IdDepartamento,Observacion,Categoria,Subcategoria,Nombre,Domicilio,Piso,CP,...,Web,Informacion Adicional,Latitud,Longitud,TipoLatitudLongitud,Fuente,Tipo_gestion,Ano_Inicio,Ano_Actualizacion,Id
0,70049060,70,70049,None,Bibliotecas Populares,None,Biblioteca Popular Juan P. Garramuno,Santo Domingo,None,5465,...,None,None,-30.20925,-69.130117,LocalizaciÃ³n precisa,CONABIP,Comunitaria,1930.0,2018,0B
1,70028010,70,70028,None,Bibliotecas Populares,None,Biblioteca Popular BartolomÃ© Mitre,Mendoza (Norte) 931,None,5400,...,None,None,-31.522417,-68.52755,LocalizaciÃ³n precisa,CONABIP,Comunitaria,1910.0,2018,197B

Llave primaria de la tabla Biblioteca

In [23]:
engineok = sa.create_engine('postgresql://postgres:ADMIN1234@localhost:5432/challenge_data_analyst')

text=("""ALTER TABLE "BIBLIOTECA" ADD PRIMARY KEY ("Id");""") 
engineok.execute(text)

**Creando las relaciones correspondientes 'FOREIGN KEY'**

In [81]:
engineok = sa.create_engine('postgresql://postgres:ADMIN1234@localhost:5432/challenge_data_analyst')

text=("""ALTER TABLE  "BIBLIOTECA"
ADD FOREIGN KEY ("IdProvincia")  REFERENCES "Provincia" ("IdProvincia") ;""")

In [82]:
engineok = sa.create_engine('postgresql://postgres:ADMIN1234@localhost:5432/challenge_data_analyst')

text=("""ALTER TABLE  "Provincia" 
ADD FOREIGN KEY ("IdDepartamento") REFERENCES "Departamento" ("IdDepartamento");""")

In [83]:
engineok = sa.create_engine('postgresql://postgres:ADMIN1234@localhost:5432/challenge_data_analyst')

text=("""ALTER TABLE  "Departamento"
ADD FOREIGN KEY ("Cod_Loc") REFERENCES "Localidad" ("Cod_Loc") ;""")