In [65]:
import sqlalchemy as sa
import urllib 
import pandas as pd 
import psycopg2
from sqlalchemy import text
from conector import enginesexy

In [13]:
# parametros = (
#     'DRIVER=psycopg2;'
#     'SERVER=localhost;'
#     'DATABASE=challenge_data_analyst;'
#     'UID=postgres;'
#     'PWD=ADMIN1234;')

In [66]:
data = pd.read_csv("./museos.csv")
df_Museos = pd.DataFrame(data)
df_Museos.sample(2)

,Cod_Loc,IdProvincia,IdDepartamento,Observaciones,categoria,subcategoria,provincia,localidad,nombre,direccion,...,Mail,Web,Latitud,Longitud,TipoLatitudLongitud,Info_adicional,fuente,jurisdiccion,aÃ±o_inauguracion,actualizacion
536,30008020,30,30008,NaN,Espacios de ExhibiciÃ³n Patrimonial,Museos,Entre RÃ­os,ColÃ³n,Museo HistÃ³rico MuseÃ³loga MarÃ­a AngÃ©lica G...,Laprida y Moreno,...,NaN,NaN,-32.221483,-58.136118,LocalizaciÃ³n precisa,NaN,DNPyM,Privada,1971.0,2017
795,54098110,54,54098,NaN,Espacios de ExhibiciÃ³n Patrimonial,Museos,Misiones,San Ignacio,Museo Casa De Horacio Quiroga,"Lote 55 SubdivisiÃ³n de la Frac. ""A"" Lote AgrÃ...",...,NaN,NaN,-27.259882,-55.539710,LocalizaciÃ³n precisa,NaN,DNPyM,Provincial,NaN,2017

In [67]:
df_Museos['IdMuseos']=df_Museos.index

In [5]:
# df_Museos.drop(columns={'Observaciones', 'piso', 'Web' , 'Info_adicional'},inplace=True)

In [68]:
df_Museos.drop_duplicates('IdProvincia',inplace=True)

In [76]:
df_Museos.drop_duplicates('Cod_Loc',inplace=True)

In [69]:
df_Museos=df_Museos[['IdMuseos', 'IdProvincia',
       'provincia','IdDepartamento','Cod_Loc','localidad','nombre','categoria', 'subcategoria',
       'direccion', 'CP', 'cod_area','Observaciones','piso',  'Web' , 'Info_adicional',
       'telefono', 'Mail', 'Latitud', 'Longitud', 'TipoLatitudLongitud',
       'fuente', 'jurisdiccion', 'aÃ±o_inauguracion', 'actualizacion',]]

In [19]:
# from sqlalchemy import create_engine
# engine23= create_engine('postgresql://postgres:ADMIN1234@localhost:5432/challenge_data_analyst')
# engine23 = create_engine('postgresql+psycopg2://postgres:admin1234/@localhost/challenge_data_analyst')

In [70]:
from sqlalchemy.types import Integer
from sqlalchemy.types import DATE
from sqlalchemy.types import VARCHAR 
from sqlalchemy.types import INTEGER
from sqlalchemy.types import Text
from sqlalchemy.types import DATETIME
from sqlalchemy.types import Float
from sqlalchemy.types import NUMERIC

In [60]:
df_Museos.columns

Index(['IdMuseos', 'IdProvincia', 'provincia', 'IdDepartamento', 'Cod_Loc',
       'localidad', 'nombre', 'categoria', 'subcategoria', 'direccion', 'CP',
       'cod_area', 'Observaciones', 'piso', 'Web', 'Info_adicional',
       'telefono', 'Mail', 'Latitud', 'Longitud', 'TipoLatitudLongitud',
       'fuente', 'jurisdiccion', 'aÃ±o_inauguracion', 'actualizacion'],
      dtype='object')

In [71]:
df_Museos.drop(['provincia','localidad','direccion','piso', 'CP','Latitud', 'Longitud', 'TipoLatitudLongitud'],axis=1,inplace=True)

In [72]:
df_Museos.to_sql('MUSEOS', con=enginesexy, if_exists='append', index=False,
          dtype={"IdMuseos":INTEGER,"Cod_Loc": INTEGER, "Id_Provincia": INTEGER , "Id_Departamento":INTEGER,
          "Observaciones":Text,"Categoria":Text,"subcategoria":Text,  
          "Nombre":Text,  "Cod_area":VARCHAR(200) , "Telefono":VARCHAR(200) , "Mail": VARCHAR(200),
          "Web":VARCHAR,  "Info_adicional":Text, "Fuente":VARCHAR(200),
          "jurisdiccion":VARCHAR(200) , "Año_inauguracion":INTEGER, "actualizacion":INTEGER, })

24

In [22]:
# engine23.connect('SELECT *FROM MUSEOS;')
# df3.to_sql("MUSEOS",con=engine23,if_exists='append',index=False)

182

In [73]:
text=("""SELECT * FROM "MUSEOS"
    WHERE "IdProvincia"=30""")
muestreo = pd.DataFrame(enginesexy.execute(text))
muestreo.head()

,IdMuseos,IdProvincia,IdDepartamento,Cod_Loc,nombre,categoria,subcategoria,cod_area,Observaciones,Web,Info_adicional,telefono,Mail,fuente,jurisdiccion,aÃ±o_inauguracion,actualizacion
0,534,30,30028,30028010,Museo Municipal Ivy Mara Ey - La Tierra Sin Mal,Espacios de ExhibiciÃ³n Patrimonial,Museos,3456.0,None,None,None,420 730,None,DNPyM,Municipal,None,2017

In [74]:
engineok = sa.create_engine('postgresql://postgres:ADMIN1234@localhost:5432/challenge_data_analyst')

text=("""ALTER TABLE "MUSEOS" ADD PRIMARY KEY ("IdMuseos");""") 
# text=("""ALTER TABLE "MUSEOS" ALTER COLUMN "Año_inauguracion" SET NOT NULL;""")
engineok.execute(text)

In [78]:
text=("""ALTER TABLE  "MUSEOS"
ADD FOREIGN KEY ("IdProvincia") REFERENCES "Provincia" ("IdProvincia") ;""")
 
engineok.execute(text)

In [79]:
text=("""ALTER TABLE  "Localidad" 
ADD FOREIGN KEY ("IdDepartamento") REFERENCES "Departamento" ("IdDepartamento");""")

engineok.execute(text)

In [80]:
text=("""ALTER TABLE  "Departamento"
ADD FOREIGN KEY ("Cod_Loc")  REFERENCES "Localidad" ("Cod_Loc") ;""")
 
engineok.execute(text)