In [2]:
import sqlalchemy as sa
import urllib 
import pandas as pd 
import psycopg2
from sqlalchemy import text
from conector import enginesexy

In [36]:
# parametros = (
#     'DRIVER=psycopg2;'
#     'SERVER=localhost;'
#     'DATABASE=challenge_data_analyst;'
#     'UID=postgres;'
#     'PWD=ADMIN1234;')

Leemos el .csv/Biblioteca para la creacion y normalizacion de la misma

In [66]:
dataB = pd.read_csv("./biblioteca.csv")
df_Biblioteca = pd.DataFrame(dataB)
df_Biblioteca.sample(2)

,Cod_Loc,IdProvincia,IdDepartamento,Observacion,CategorÃ­a,Subcategoria,Provincia,Departamento,Localidad,Nombre,...,Mail,Web,InformaciÃ³n adicional,Latitud,Longitud,TipoLatitudLongitud,Fuente,Tipo_gestion,aÃ±o_inicio,AÃ±o_actualizacion
3,2000010,2,2000,NaN,Bibliotecas Populares,NaN,Ciudad AutÃ³noma de Buenos Aires,Ciudad Autonoma de Buenos Aires,Ciudad de Buenos Aires,Biblioteca Popular Villa PueyrredÃ³n Norte,...,bibliotecapueyrredon@hotmail.com,NaN,NaN,-34.575890,-58.501591,LocalizaciÃ³n precisa,CONABIP,Comunitaria,1916.0,2018
564,6448010,6,6448,NaN,Bibliotecas Populares,NaN,Buenos Aires,Laprida,Laprida,Biblioteca Popular Laprida,...,bplaprida@yahoo.com.ar,NaN,NaN,-37.542817,-60.799633,LocalizaciÃ³n precisa,CONABIP,Comunitaria,1940.0,2018

In [67]:
df_Biblioteca['Id']=df_Biblioteca.index
df_Biblioteca['Id']=df_Biblioteca['Id'].astype(str)
df_Biblioteca['Id']=df_Biblioteca['Id']+'B'
df_Biblioteca.sample()

,Cod_Loc,IdProvincia,IdDepartamento,Observacion,CategorÃ­a,Subcategoria,Provincia,Departamento,Localidad,Nombre,...,Web,InformaciÃ³n adicional,Latitud,Longitud,TipoLatitudLongitud,Fuente,Tipo_gestion,aÃ±o_inicio,AÃ±o_actualizacion,Id
334,6791050,6,6791,NaN,Bibliotecas Populares,NaN,Buenos Aires,Tandil,Tandil,Biblioteca Popular Juan Antonio Salceda,...,NaN,NaN,-37.3144,-59.1364,LocalizaciÃ³n precisa,CONABIP,Comunitaria,1919.0,2018,334B

In [2]:
from sqlalchemy.types import VARCHAR 
from sqlalchemy.types import INTEGER
from sqlalchemy.types import Text
from sqlalchemy.types import NUMERIC

**RENOMBRAR COLUMNAS**

In [69]:
df_Biblioteca.rename({'TelÃ©fono':'Telefono','CategorÃ­a':'Categoria','InformaciÃ³n adicional':'Informacion Adicional','aÃ±o_inicio':'Ano_Inicio', 'AÃ±o_actualizacion':'Ano_Actualizacion'},
axis=1, inplace=True)

In [70]:
df_Biblioteca.drop(['Provincia','Departamento','Localidad','IdDepartamento','CP', 'Cod_tel','IdProvincia',],axis=1,inplace=True)

In [71]:
f_Biblioteca=df_Biblioteca[['Id','Cod_Loc',  'Categoria', 
       'Nombre', 'Domicilio',
       'Telefono', 'Mail','Observacion', 'Subcategoria', 'Piso', 'Web', 'Informacion Adicional', 'Latitud', 'Longitud', 'TipoLatitudLongitud',
       'Fuente', 'Tipo_gestion', 'Ano_Inicio', 'Ano_Actualizacion',]]

In [45]:
df_Biblioteca.count()

Cod_Loc                  2017
Observacion                 0
Categoria                2017
Subcategoria                0
Nombre                   2017
Domicilio                2017
Piso                        0
Telefono                 2017
Mail                     2017
Web                         0
Informacion Adicional       0
Latitud                  2017
Longitud                 2017
TipoLatitudLongitud      2017
Fuente                   2017
Tipo_gestion             2017
Ano_Inicio               2010
Ano_Actualizacion        2017
Id                       2017
dtype: int64

In [72]:
df_Biblioteca.to_sql('BIBLIOTECA', con=enginesexy, if_exists='replace', index=False,
          dtype={"Id":VARCHAR, "Cod_Loc": INTEGER, 
          "Categoria":Text,"Observacion":Text, "Subcategoria":Text,"'Informacion Adicional'":Text,  
          "Nombre":Text,  "Telefono":VARCHAR(100), "Web":VARCHAR(100), "Mail": VARCHAR(100),
          "Fuente":VARCHAR(100),'Domicilio':Text,'Piso':Text, "Latitu":NUMERIC, 'Longitud':NUMERIC, 'TipoLatitudLongitud':Text,
          "Tipo_gestion":VARCHAR(100) , "Ano_inicio":INTEGER, "Ano_actualizacion":INTEGER, })

17

In [ ]:
# engine23.connect('SELECT *FROM BIBLIOTECA;')
# df.to_sql("BIBLIOTECA",con=engine23,if_exists='append',index=False)

In [73]:
text=("""SELECT * FROM "BIBLIOTECA"
    WHERE "Cod_Loc"=86119100""")
# text("""ALTER TABLE "BIBLIOTECA" ADD PRIMARY KEY ("IdBiblioteca");""")   


# with enginesexy.connect() as conn:
#     conn.execute(text)


muestreo = pd.DataFrame(enginesexy.execute(text))
muestreo.head()

# engine24.execute(text=(""" SELECT * FROM BIBLIOTECA
#     WHERE IdProvincia=30;"""))se
# conn = engine23.connect()
# # muestreo = pd.DataFrame(enginesexy.execute(text))
# muestreo.head(3)
# enginesexy.execute(text)

Empty DataFrame
Columns: []
Index: []

Llave primaria de la tabla Biblioteca

In [3]:
engineok = sa.create_engine('postgresql://postgres:ADMIN1234@localhost:5432/challenge_data_analyst')

text=("""ALTER TABLE "BIBLIOTECA" ADD PRIMARY KEY ("Id");""") 
engineok.execute(text)

**Creando las relaciones correspondientes 'FOREIGN KEY'**

In [4]:
engineok = sa.create_engine('postgresql://postgres:ADMIN1234@localhost:5432/challenge_data_analyst')

text=("""ALTER TABLE  "BIBLIOTECA"
ADD FOREIGN KEY ( "Cod_Loc")  REFERENCES "Localidad" ( "Cod_Loc") ;""")
engineok.execute(text)