In [1]:
import sqlalchemy as sa
import urllib 
import pandas as pd 
import psycopg2
from sqlalchemy import text
from conector import enginesexy

In [13]:
# parametros = (
#     'DRIVER=psycopg2;'
#     'SERVER=localhost;'
#     'DATABASE=challenge_data_analyst;'
#     'UID=postgres;'
#     'PWD=ADMIN1234;')

In [ ]:
data = pd.read_csv("./museos.csv")
df3 = pd.DataFrame(data)
df3.sample(5)

In [3]:
df3['IdMuseos']=df3.index

In [4]:
df3.drop(columns={'Observaciones', 'piso', 'Web' , 'Info_adicional'},inplace=True)

In [7]:
df3=df3[['IdMuseos','Cod_Loc', 'IdProvincia',
       'provincia','IdDepartamento','localidad','nombre','categoria', 'subcategoria',
       'direccion', 'CP', 'cod_area',
       'telefono', 'Mail', 'Latitud', 'Longitud', 'TipoLatitudLongitud',
       'fuente', 'jurisdiccion', 'aÃ±o_inauguracion', 'actualizacion',]]

In [19]:
# from sqlalchemy import create_engine
# engine23= create_engine('postgresql://postgres:ADMIN1234@localhost:5432/challenge_data_analyst')
# engine23 = create_engine('postgresql+psycopg2://postgres:admin1234/@localhost/challenge_data_analyst')

In [8]:
from sqlalchemy.types import Integer
from sqlalchemy.types import DATE
from sqlalchemy.types import VARCHAR 
from sqlalchemy.types import INTEGER
from sqlalchemy.types import Text
from sqlalchemy.types import DATETIME
from sqlalchemy.types import Float
from sqlalchemy.types import NUMERIC

In [9]:
df3.to_sql('MUSEOS', con=enginesexy, if_exists='append', index=False,
          dtype={"IdMuseos":INTEGER,"Cod_Loc": VARCHAR(50), "Id_Provincia": VARCHAR , "Id_Departamento":VARCHAR,
          "Observaciones":Text,"Categoria":Text,"subcategoria":Text,  "Provincia":Text , "Localidad":Text,
          "Nombre":Text, "direccion":Text,"piso":VARCHAR, "CP":VARCHAR(50), "Cod_area":VARCHAR(200) , "Telefono":VARCHAR(200) , "Mail": VARCHAR(200),
          "Web":VARCHAR,  "Latitud":NUMERIC(10,8),  "Longitud":NUMERIC(10,8), "Tipo_Latitud_Longitud":Text, "Info_adicional":Text, "Fuente":VARCHAR(200),
          "jurisdiccion":VARCHAR(200) , "Año_inauguracion":INTEGER, "actualizacion":INTEGER, })

182

In [22]:
# engine23.connect('SELECT *FROM MUSEOS;')
# df3.to_sql("MUSEOS",con=engine23,if_exists='append',index=False)

182

In [11]:
text=("""SELECT * FROM "MUSEOS"
    WHERE "IdProvincia"=30""")
muestreo = pd.DataFrame(enginesexy.execute(text))
muestreo.head(2)

,IdMuseos,Cod_Loc,IdProvincia,provincia,IdDepartamento,localidad,nombre,categoria,subcategoria,direccion,...,cod_area,telefono,Mail,Latitud,Longitud,TipoLatitudLongitud,fuente,jurisdiccion,aÃ±o_inauguracion,actualizacion
0,534,30028010,30,Entre RÃ­os,30028,Chajari,Museo Municipal Ivy Mara Ey - La Tierra Sin Mal,Espacios de ExhibiciÃ³n Patrimonial,Museos,Urquiza y Sarmiento. Ex EstaciÃ³n del Ferrocarril,...,3456.0,420 730,None,-30.75653200,-57.98419800,LocalizaciÃ³n precisa,DNPyM,Municipal,NaN,2017
1,535,30028010,30,Entre RÃ­os,30028,Chajari,Museo Regional Camila Quiroga,Espacios de ExhibiciÃ³n Patrimonial,Museos,Adolfo Repetto 1870,...,3456.0,424 418,museocamilaquiroga@yahoo.com,-30.74682500,-57.97850000,LocalizaciÃ³n precisa,DNPyM,Municipal,1982.0,2017

In [12]:
engineok = sa.create_engine('postgresql://postgres:ADMIN1234@localhost:5432/challenge_data_analyst')

text=("""ALTER TABLE "MUSEOS" ADD PRIMARY KEY ("IdMuseos");""") 
# text=("""SELECT * FROM "BIBLIOTECA" WHERE "IdProvincia"=30""")
engineok.execute(text)