In [45]:
import sqlalchemy as sa
import urllib 
import pandas as pd 
import psycopg2
from sqlalchemy import text
from conector import enginesexy

In [2]:
# parametros = (
#     'DRIVER=psycopg2;'
#     'SERVER=localhost;'
#     'DATABASE=challenge_data_analyst;'
#     'UID=postgres;'
#     'PWD=ADMIN1234;')

In [46]:

data = pd.read_csv("./cines.csv")
df_Cines = pd.DataFrame(data)
df_Cines.sample(2)

,Cod_Loc,IdProvincia,IdDepartamento,Observaciones,CategorÃ­a,Provincia,Departamento,Localidad,Nombre,DirecciÃ³n,...,InformaciÃ³n adicional,Latitud,Longitud,TipoLatitudLongitud,Fuente,tipo_gestion,Pantallas,Butacas,espacio_INCAA,aÃ±o_actualizacion
141,62021060,62,62021,NaN,Salas de cine,RÃ­o Negro,Bariloche,Bariloche,Sunstar,Onelli 447,...,NaN,-41.133472,-71.310278,LocalizaciÃ³n precisa,INCAA / SInCA,Privado comercial,3,461,NaN,2018
24,74049060,74,74049,NaN,Salas de cine,San Luis,Junin,Merlo,Cinestar,Av. Del Sol 1120,...,NaN,-32.346991,-64.998214,LocalizaciÃ³n precisa,INCAA / SInCA,Privado comercial,1,100,NaN,2018

In [47]:
df_Cines['IdCines']=df_Cines.index

In [48]:
df_Cines.drop(columns={'Observaciones',  'InformaciÃ³n adicional'},inplace=True)

In [49]:
df_Cines=df_Cines[['IdCines','IdProvincia','Provincia', 'IdDepartamento','Departamento', 'CategorÃ­a', 
       'Cod_Loc', 'Localidad', 'Nombre', 'DirecciÃ³n', 'Piso', 'CP',
       'cod_area', 'TelÃ©fono', 'Mail', 'Web', 'Latitud', 'Longitud',
       'TipoLatitudLongitud', 'Fuente', 'tipo_gestion', 'Pantallas', 'Butacas',
       'espacio_INCAA', 'aÃ±o_actualizacion', 'IdCines']]

In [50]:
df_Cines.drop_duplicates('IdProvincia', inplace=True)

In [44]:
# df_Cines.drop_duplicates('IdDepartamento', inplace=True)

In [39]:
# df_Cines.drop_duplicates('Cod_Loc',inplace=True)

In [85]:
# from sqlalchemy import create_engine
# engine23= create_engine('postgresql://postgres:ADMIN1234@localhost:5432/challenge_data_analyst')

In [51]:
from sqlalchemy.types import Integer
from sqlalchemy.types import DATE
from sqlalchemy.types import VARCHAR 
from sqlalchemy.types import INTEGER
from sqlalchemy.types import Text
from sqlalchemy.types import DATETIME
from sqlalchemy.types import Float
from sqlalchemy.types import NUMERIC

In [52]:
df_Cines.to_sql('CINES', con=enginesexy, if_exists='append', index=False,
          dtype={"IdCines":INTEGER,"Cod_Loc": VARCHAR(50), "Id_Provincia": VARCHAR , "Id_Departamento":VARCHAR, 
          "CategorÃ­a":Text ,  "Provincia":Text , "Departamento":Text, "Localidad":Text,
          "Nombre":Text, "DirecciÃ³n":Text, "Piso":VARCHAR, "CP":VARCHAR(50), "cod_area":VARCHAR(200) , "Telefono":Text , "Mail": VARCHAR(200),
          "Web":VARCHAR,"Latitud":NUMERIC(10,8),  "Longitud":NUMERIC(10,8), "Tipo_Latitud_Longitud":Text,  "Fuente":VARCHAR(200),
          "Tipo_gestion":VARCHAR(200),"Pantallas":VARCHAR,"Butacas":VARCHAR,"espacio_INCAA":Text,  "Año_actualizacion":INTEGER, })

24

In [88]:
# df2.to_sql("CINES",con=engine23,if_exists='append',index=False)

329

In [53]:
text=("""SELECT * FROM "CINES"
     WHERE "IdProvincia"=10""")
muestreo1 = pd.DataFrame(enginesexy.execute(text))
muestreo1.head()

,IdCines,IdProvincia,Provincia,IdDepartamento,Departamento,CategorÃ­a,Cod_Loc,Localidad,Nombre,DirecciÃ³n,...,Web,Latitud,Longitud,TipoLatitudLongitud,Fuente,tipo_gestion,Pantallas,Butacas,espacio_INCAA,aÃ±o_actualizacion
0,0,10,Catamarca,10049,Capital,Salas de cine,10049030,Catamarca,Cinemacenter,Intendente Mamerto Medina 220,...,http://www.cinemacenter.com.ar/,-28.46473700,-65.80067500,LocalizaciÃ³n precisa,INCAA / SInCA,Privado comercial,5,743,None,2018

In [54]:
engineok = sa.create_engine('postgresql://postgres:ADMIN1234@localhost:5432/challenge_data_analyst')

text=("""ALTER TABLE "CINES" ADD PRIMARY KEY ("IdCines");""") 
# text=("""SELECT * FROM "BIBLIOTECA" WHERE "IdProvincia"=30""")
engineok.execute(text)