In [38]:
import sqlalchemy as sa
import urllib 
import pandas as pd 
import psycopg2
from sqlalchemy import text
from conector import enginesexy

In [2]:
# parametros = (
#     'DRIVER=psycopg2;'
#     'SERVER=localhost;'
#     'DATABASE=challenge_data_analyst;'
#     'UID=postgres;'
#     'PWD=ADMIN1234;')

In [39]:

data = pd.read_csv("./cines.csv")
df2 = pd.DataFrame(data)
df2.sample(2)

,Cod_Loc,IdProvincia,IdDepartamento,Observaciones,CategorÃ­a,Provincia,Departamento,Localidad,Nombre,DirecciÃ³n,...,InformaciÃ³n adicional,Latitud,Longitud,TipoLatitudLongitud,Fuente,tipo_gestion,Pantallas,Butacas,espacio_INCAA,aÃ±o_actualizacion
208,14014010,14,14014,NaN,Salas de cine,CÃ³rdoba,Capital,CÃ³rdoba,Cine Arte CÃ³rdoba,27 De Abril 275,...,NaN,-31.415918,-64.188507,LocalizaciÃ³n precisa,INCAA / SInCA,Privado comercial,1,210,NaN,2018
110,30008090,30,30008,NaN,Salas de cine,Entre RÃ­os,Colon,San JosÃ©,Cine Urquiza,25 De Mayo 1849,...,NaN,-32.212515,-58.217901,LocalizaciÃ³n precisa,INCAA / SInCA,Privado comercial,1,250,NaN,2018

In [40]:
df2['IdCines']=df2.index

In [41]:
df2.drop(columns={'Observaciones',  'InformaciÃ³n adicional'},inplace=True)

In [42]:
df2=df2[['IdCines','IdProvincia','Provincia', 'IdDepartamento','Departamento', 'CategorÃ­a', 
       'Cod_Loc', 'Localidad', 'Nombre', 'DirecciÃ³n', 'Piso', 'CP',
       'cod_area', 'TelÃ©fono', 'Mail', 'Web', 'Latitud', 'Longitud',
       'TipoLatitudLongitud', 'Fuente', 'tipo_gestion', 'Pantallas', 'Butacas',
       'espacio_INCAA', 'aÃ±o_actualizacion', 'IdCines']]

In [85]:
# from sqlalchemy import create_engine
# engine23= create_engine('postgresql://postgres:ADMIN1234@localhost:5432/challenge_data_analyst')

In [43]:
from sqlalchemy.types import Integer
from sqlalchemy.types import DATE
from sqlalchemy.types import VARCHAR 
from sqlalchemy.types import INTEGER
from sqlalchemy.types import Text
from sqlalchemy.types import DATETIME
from sqlalchemy.types import Float
from sqlalchemy.types import NUMERIC

In [44]:
df2.to_sql('CINES', con=enginesexy, if_exists='append', index=False,
          dtype={"IdCines":INTEGER,"Cod_Loc": VARCHAR(50), "Id_Provincia": VARCHAR , "Id_Departamento":VARCHAR, 
          "CategorÃ­a":Text ,  "Provincia":Text , "Departamento":Text, "Localidad":Text,
          "Nombre":Text, "DirecciÃ³n":Text, "Piso":VARCHAR, "CP":VARCHAR(50), "cod_area":VARCHAR(200) , "Telefono":Text , "Mail": VARCHAR(200),
          "Web":VARCHAR,"Latitud":NUMERIC(10,8),  "Longitud":NUMERIC(10,8), "Tipo_Latitud_Longitud":Text,  "Fuente":VARCHAR(200),
          "Tipo_gestion":VARCHAR(200),"Pantallas":VARCHAR,"Butacas":VARCHAR,"espacio_INCAA":Text,  "Año_actualizacion":INTEGER, })

329

In [88]:
# df2.to_sql("CINES",con=engine23,if_exists='append',index=False)

329

In [60]:
text=("""SELECT * FROM "CINES"
     WHERE "IdProvincia"=10""")
muestreo1 = pd.DataFrame(enginesexy.execute(text))
muestreo1.head()

,IdCines,IdProvincia,Provincia,IdDepartamento,Departamento,CategorÃ­a,Cod_Loc,Localidad,Nombre,DirecciÃ³n,...,Web,Latitud,Longitud,TipoLatitudLongitud,Fuente,tipo_gestion,Pantallas,Butacas,espacio_INCAA,aÃ±o_actualizacion
0,0,10,Catamarca,10049,Capital,Salas de cine,10049030,Catamarca,Cinemacenter,Intendente Mamerto Medina 220,...,http://www.cinemacenter.com.ar/,-28.46473700,-65.80067500,LocalizaciÃ³n precisa,INCAA / SInCA,Privado comercial,5,743,None,2018
1,1,10,Catamarca,10091,Santa Maria,Salas de cine,10091150,Santa MarÃ­a,Centro Cultural San AgustÃ­n,San Martin 173,...,s/d,-26.69385900,-66.04905800,LocalizaciÃ³n precisa,INCAA / SInCA,Privado comercial,1,440,0,2018
2,91,10,Catamarca,10049,Capital,Salas de cine,10049030,Catamarca,Cinemacenter,Av. Guemes 850,...,http://www.cinemacenter.com.ar/,-28.47586700,-65.77458100,LocalizaciÃ³n precisa,INCAA / SInCA,Privado comercial,5,914,None,2018
3,327,10,Catamarca,10049,Capital,Salas de cine,10049030,Catamarca,Cine Teatro Catamarca,San MartÃ­n 555,...,http://www.turismo.catamarca.gob.ar/?vh_accomm...,-28.46970900,-65.77888100,LocalizaciÃ³n precisa,INCAA / SInCA,PÃºblico municipal,1,1103,si,2018

In [46]:
engineok = sa.create_engine('postgresql://postgres:ADMIN1234@localhost:5432/challenge_data_analyst')

text=("""ALTER TABLE "CINES" ADD PRIMARY KEY ("IdCines");""") 
# text=("""SELECT * FROM "BIBLIOTECA" WHERE "IdProvincia"=30""")
engineok.execute(text)