In [1]:
import sqlalchemy as sa
import urllib 
import pandas as pd 
import psycopg2
from sqlalchemy import text
from conector import enginesexy

In [2]:
# parametros = (
#     'DRIVER=psycopg2;'
#     'SERVER=localhost;'
#     'DATABASE=challenge_data_analyst;'
#     'UID=postgres;'
#     'PWD=ADMIN1234;')

Leemos el .csv/cines para la creacion y normalizacion de la misma

In [2]:

data = pd.read_csv("./cines.csv", encoding='UTF-8')
df_Cines = pd.DataFrame(data)
df_Cines.sample(2)

,Cod_Loc,IdProvincia,IdDepartamento,Observaciones,CategorÃ­a,Provincia,Departamento,Localidad,Nombre,DirecciÃ³n,...,InformaciÃ³n adicional,Latitud,Longitud,TipoLatitudLongitud,Fuente,tipo_gestion,Pantallas,Butacas,espacio_INCAA,aÃ±o_actualizacion
303,6315010,6,6315,NaN,Salas de cine,Buenos Aires,General Juan Madariaga,General Madariaga,Espacio INCAA Gral. Madariaga,Dr. Carlos Madariaga 499,...,NaN,-36.998699,-57.134121,LocalizaciÃ³n precisa,INCAA / SInCA,PÃºblico municipal,1,230,SI,2018
49,2000010,2,2000,NaN,Salas de cine,Ciudad AutÃ³noma de Buenos Aires,Ciudad Autonoma de Buenos Aires,Ciudad AutÃ³noma de Buenos Aires,Cine Teatro Gran Rivadavia,Av. Rivadavia 8636,...,NaN,-34.634819,-58.485359,LocalizaciÃ³n precisa,INCAA / SInCA,Privado comercial,1,1494,si,2018

In [3]:
df_Cines['Id']=df_Cines.index
df_Cines['Id']=df_Cines['Id'].astype(str)
df_Cines['Id']=df_Cines['Id']+'C'
df_Cines.sample()

,Cod_Loc,IdProvincia,IdDepartamento,Observaciones,CategorÃ­a,Provincia,Departamento,Localidad,Nombre,DirecciÃ³n,...,Latitud,Longitud,TipoLatitudLongitud,Fuente,tipo_gestion,Pantallas,Butacas,espacio_INCAA,aÃ±o_actualizacion,Id
85,6595070,6,6595,NaN,Salas de cine,Buenos Aires,Olavarria,OlavarrÃ­a,Flix OlavarrÃ­a,Rivadavia 4730,...,-36.880816,-60.304409,LocalizaciÃ³n precisa,INCAA / SInCA,Privado comercial,2,660,NaN,2018,85C

In [49]:
# df_Cines.drop(columns={'Observaciones',  'InformaciÃ³n adicional'},inplace=True)

In [4]:
df_Cines.columns

Index(['Cod_Loc', 'IdProvincia', 'IdDepartamento', 'Observaciones',
       'CategorÃ­a', 'Provincia', 'Departamento', 'Localidad', 'Nombre',
       'DirecciÃ³n', 'Piso', 'CP', 'cod_area', 'TelÃ©fono', 'Mail', 'Web',
       'InformaciÃ³n adicional', 'Latitud', 'Longitud', 'TipoLatitudLongitud',
       'Fuente', 'tipo_gestion', 'Pantallas', 'Butacas', 'espacio_INCAA',
       'aÃ±o_actualizacion', 'Id'],
      dtype='object')

In [6]:
# df_Cines.drop_duplicates('IdProvincia', inplace=True)

In [7]:
# df_Cines.drop_duplicates('IdDepartamento', inplace=True)

In [54]:
# df_Cines.drop_duplicates('Cod_Loc',inplace=True)

In [85]:
# from sqlalchemy import create_engine
# engine23= create_engine('postgresql://postgres:ADMIN1234@localhost:5432/challenge_data_analyst')

In [6]:
from sqlalchemy.types import VARCHAR 
from sqlalchemy.types import INTEGER
from sqlalchemy.types import Text
from sqlalchemy.types import NUMERIC

In [7]:
df_Cines.rename({'TelÃ©fono':'Telefono','CategorÃ­a':'Categoria','InformaciÃ³n adicional':'Informacion Adicional','espacio_INCAA':'Espacio_Incaa', 'aÃ±o_actualizacion':'Ano_Actualizacion',
'DirecciÃ³n':'Direccion','Observaciones':'Observacion','tipo_gestion':'Tipo_gestion','cod_area':'Cod_area'},
axis=1, inplace=True)

In [8]:
df_Cines.drop(['Provincia','Departamento','Localidad'],axis=1,inplace=True)

In [10]:
df_Cines=df_Cines[['Id','IdProvincia','IdDepartamento', 'Categoria', 
       'Cod_Loc', 'Nombre', 'Direccion', 'Piso','Observacion',  'Informacion Adicional',
       'Cod_area', 'Telefono', 'Mail', 'Web', 'Latitud', 'Longitud',
       'TipoLatitudLongitud', 'Fuente', 'Tipo_gestion', 'Pantallas', 'Butacas',
       'Espacio_Incaa', 'Ano_Actualizacion']]

In [11]:
df_Cines.columns

Index(['Id', 'IdProvincia', 'IdDepartamento', 'Categoria', 'Cod_Loc', 'Nombre',
       'Direccion', 'Piso', 'Observacion', 'Informacion Adicional', 'Cod_area',
       'Telefono', 'Mail', 'Web', 'Latitud', 'Longitud', 'TipoLatitudLongitud',
       'Fuente', 'Tipo_gestion', 'Pantallas', 'Butacas', 'Espacio_Incaa',
       'Ano_Actualizacion'],
      dtype='object')

In [12]:
df_Cines.to_sql('CINES', con=enginesexy, if_exists='replace', index=False,
          dtype={"Id":VARCHAR,"Cod_Loc":INTEGER , "Id_Provincia": INTEGER, "Id_Departamento":INTEGER, 
          "Categoria":Text , "Observacion":Text,  "Informacion Adicional":Text,
          "Nombre":Text, "Cod_area":VARCHAR(200) , "Telefono":Text , "Mail": VARCHAR(200),
          "Web":VARCHAR,  "Fuente":VARCHAR(200),'Direccion':Text, 'Piso':Text ,'Latitud':NUMERIC, 'Longitud':NUMERIC, 'TipoLatitudLongitud':Text,
          "Tipo_gestion":VARCHAR(200),"Pantallas":VARCHAR,"Butacas":VARCHAR,"Espacio_Incaa":Text,  "Ano_Actualizacion":INTEGER, })

329

In [88]:
# df2.to_sql("CINES",con=engine23,if_exists='append',index=False)

329

In [13]:
text=("""SELECT * FROM "CINES"
     WHERE "IdProvincia"=10""")
muestreo1 = pd.DataFrame(enginesexy.execute(text))
muestreo1.head(5)

,Id,IdProvincia,IdDepartamento,Categoria,Cod_Loc,Nombre,Direccion,Piso,Observacion,Informacion Adicional,...,Web,Latitud,Longitud,TipoLatitudLongitud,Fuente,Tipo_gestion,Pantallas,Butacas,Espacio_Incaa,Ano_Actualizacion
0,0C,10,10049,Salas de cine,10049030,Cinemacenter,Intendente Mamerto Medina 220,s/d,None,None,...,http://www.cinemacenter.com.ar/,-28.464737,-65.800675,LocalizaciÃ³n precisa,INCAA / SInCA,Privado comercial,5,743,None,2018
1,1C,10,10091,Salas de cine,10091150,Centro Cultural San AgustÃ­n,San Martin 173,s/d,None,None,...,s/d,-26.693859,-66.049058,LocalizaciÃ³n precisa,INCAA / SInCA,Privado comercial,1,440,0,2018
2,91C,10,10049,Salas de cine,10049030,Cinemacenter,Av. Guemes 850,s/d,None,None,...,http://www.cinemacenter.com.ar/,-28.475867,-65.774581,LocalizaciÃ³n precisa,INCAA / SInCA,Privado comercial,5,914,None,2018
3,327C,10,10049,Salas de cine,10049030,Cine Teatro Catamarca,San MartÃ­n 555,s/d,None,None,...,http://www.turismo.catamarca.gob.ar/?vh_accomm...,-28.469709,-65.778881,LocalizaciÃ³n precisa,INCAA / SInCA,PÃºblico municipal,1,1103,si,2018

creacion de llave Primaria de la tabla CINES

In [14]:
engineok = sa.create_engine('postgresql://postgres:ADMIN1234@localhost:5432/challenge_data_analyst')

text=("""ALTER TABLE "CINES" ADD PRIMARY KEY ("Id");""") 
# text=("""SELECT * FROM "BIBLIOTECA" WHERE "IdProvincia"=30""")
engineok.execute(text)

Relacines correspondientes 'FOREIGN KEY'

In [18]:
text=("""ALTER TABLE  "CINES"
ADD FOREIGN KEY ("IdProvincia")  REFERENCES "Provincia" ("IdProvincia") ;""")

In [19]:
text=("""ALTER TABLE  "Provincia" 
ADD FOREIGN KEY ("IdDepartamento") REFERENCES "Departamento" ("IdDepartamento") ;""")

In [20]:
text=("""ALTER TABLE  "Departamento"
ADD FOREIGN KEY ("Cod_Loc") REFERENCES "Localidad" ("Cod_Loc") ;""")