In [59]:
import sqlalchemy as sa
import urllib 
import pandas as pd 
import psycopg2
from sqlalchemy import text
from conector import enginesexy

In [13]:
# parametros = (
#     'DRIVER=psycopg2;'
#     'SERVER=localhost;'
#     'DATABASE=challenge_data_analyst;'
#     'UID=postgres;'
#     'PWD=ADMIN1234;')

In [ ]:
data = pd.read_csv("./biblioteca.csv")
df = pd.DataFrame(data)
df.sample(2)

In [61]:
df['IdBiblioteca']=df.index

In [62]:
df.drop(columns={'Observacion', 'Subcategoria', 'Piso', 'Web', 'InformaciÃ³n adicional'},inplace=True)

In [63]:
df=df[['IdBiblioteca','IdProvincia','Provincia','IdDepartamento','Departamento','Cod_Loc', 'Localidad', 'CategorÃ­a', 
       'Nombre', 'Domicilio', 'CP', 'Cod_tel',
       'TelÃ©fono', 'Mail', 'Latitud', 'Longitud', 'TipoLatitudLongitud',
       'Fuente', 'Tipo_gestion', 'aÃ±o_inicio', 'AÃ±o_actualizacion',]]

In [111]:
df_Provincia=pd.DataFrame(data)[['IdProvincia','Provincia']]

In [ ]:
df_Provincia.drop_duplicates()

In [117]:
df_Provincia['IdUnico']=df.index

In [119]:
df_Provincia=df_Provincia[['IdUnico','IdProvincia','Provincia']]

In [129]:
df_Departamento=pd.DataFrame(data)[['IdDepartamento','Departamento']]

In [ ]:
df_Departamento.drop_duplicates()

In [133]:
df_Departamento['Id']=df.index

In [134]:
df_Localidad=pd.DataFrame(data)[['Cod_Loc', 'Localidad','Domicilio', 'CP','Latitud', 'Longitud', 'TipoLatitudLongitud']]

In [ ]:
df_Localidad.drop_duplicates()

In [136]:
df_Localidad['Id']=df.index

In [43]:
# from sqlalchemy import create_engine
# engine23 = create_engine('postgresql://postgres:ADMIN1234@localhost:5432/challenge_data_analyst')
# engine24 = create_engine('postgresql+psycopg2://psycopg2:ADMIN1234@localhost:5432/challenge_data_analyst')

In [70]:
from sqlalchemy.types import Integer
from sqlalchemy.types import DATE
from sqlalchemy.types import VARCHAR 
from sqlalchemy.types import INTEGER
from sqlalchemy.types import Text
from sqlalchemy.types import DATETIME
from sqlalchemy.types import Float
from sqlalchemy.types import NUMERIC

In [94]:
df.drop(['Provincia','Departamento','Localidad','Domicilio', 'CP','Latitud', 'Longitud', 'TipoLatitudLongitud'],axis=1,inplace=True)

In [104]:
df.to_sql('BIBLIOTECA', con=enginesexy, if_exists='replace', index=False,
          dtype={"IdBiblioteca":INTEGER, "Cod_Loc": VARCHAR(50), "Id_Provincia": VARCHAR(50) , "Id_Departamento":VARCHAR(50),
          "Categoria":Text,  
          "Nombre":Text,  "Cod_tel":VARCHAR(100) , "Telefono":VARCHAR(100) , "Mail": VARCHAR(100),
          "Fuente":VARCHAR(100),
          "Tipo_gestion":VARCHAR(100) , "Año_inicio":INTEGER, "Año_actualizacion":INTEGER, })

17

In [142]:
df_Provincia.to_sql('Provincia', con=enginesexy, if_exists='replace', index=False,
        dtype={'IdUnico':VARCHAR(50) ,'IdProvincia':VARCHAR(50),'Provincia':Text, })

17

In [144]:
df_Departamento.to_sql('Departamento',con=enginesexy,if_exists='replace', index=False,
        dtype={'Id':VARCHAR(50),'IdDepartamento':VARCHAR(50),'Departamento':Text,})

17

In [146]:
df_Localidad.to_sql('Localidad',con=enginesexy,if_exists='replace', index=False,
        dtype={'Id':VARCHAR(50) ,'Cod_Loc':VARCHAR(50), 'Localidad':Text,'Domicilio':Text, 'CP':Text,'Latitud':NUMERIC, 'Longitud':NUMERIC, 'TipoLatitudLongitud':Text,})

17

In [ ]:
# engine23.connect('SELECT *FROM BIBLIOTECA;')
# df.to_sql("BIBLIOTECA",con=engine23,if_exists='append',index=False)

In [ ]:
text=("""SELECT * FROM "BIBLIOTECA"
    WHERE "IdProvincia"=70""")
# text("""ALTER TABLE "BIBLIOTECA" ADD PRIMARY KEY ("IdBiblioteca");""")   


# with enginesexy.connect() as conn:
#     conn.execute(text)


muestreo = pd.DataFrame(enginesexy.execute(text))
muestreo.head(5)

# engine24.execute(text=(""" SELECT * FROM BIBLIOTECA
#     WHERE IdProvincia=30;"""))se
# conn = engine23.connect()
# # muestreo = pd.DataFrame(enginesexy.execute(text))
# muestreo.head(3)
# enginesexy.execute(text)

In [105]:
engineok = sa.create_engine('postgresql://postgres:ADMIN1234@localhost:5432/challenge_data_analyst')

text=("""ALTER TABLE "BIBLIOTECA" ADD PRIMARY KEY ("IdBiblioteca");""") 
# text=("""ALTER TABLE IF EXISTS public."BIBLIOTECA"
    # ADD CONSTRAINT "BIBLIOTECA_Departamento_fkey" FOREIGN KEY ("IdDepartamento")
    # REFERENCES public."Departamento" ("Id") MATCH SIMPLE""")
engineok.execute(text)

In [143]:
engineok = sa.create_engine('postgresql://postgres:ADMIN1234@localhost:5432/challenge_data_analyst')

text=("""ALTER TABLE "Provincia" ADD PRIMARY KEY ("IdUnico") ;""") 

engineok.execute(text)

In [145]:
engineok = sa.create_engine('postgresql://postgres:ADMIN1234@localhost:5432/challenge_data_analyst')

text=("""ALTER TABLE "Departamento" ADD PRIMARY KEY ("Id") ;""") 

engineok.execute(text)

In [147]:
engineok = sa.create_engine('postgresql://postgres:ADMIN1234@localhost:5432/challenge_data_analyst')

text=("""ALTER TABLE "Localidad" ADD PRIMARY KEY ("Id") ;""") 

engineok.execute(text)