In [13]:
import sqlalchemy as sa
import urllib 
import pandas as pd 
import psycopg2
from sqlalchemy import text
from conector import enginesexy

In [72]:
# parametros = (
#     'DRIVER=psycopg2;'
#     'SERVER=localhost;'
#     'DATABASE=challenge_data_analyst;'
#     'UID=postgres;'
#     'PWD=ADMIN1234;')

In [14]:
data = pd.read_csv("./biblioteca.csv")
df_Biblioteca = pd.DataFrame(data)
df_Biblioteca.sample(2)

,Cod_Loc,IdProvincia,IdDepartamento,Observacion,CategorÃ­a,Subcategoria,Provincia,Departamento,Localidad,Nombre,...,Mail,Web,InformaciÃ³n adicional,Latitud,Longitud,TipoLatitudLongitud,Fuente,Tipo_gestion,aÃ±o_inicio,AÃ±o_actualizacion
847,6868020,6,6868,NaN,Bibliotecas Populares,NaN,Buenos Aires,Villa Gesell,Villa Gesell,Biblioteca Popular Rafael Obligado,...,obligado@gesell.com.ar,NaN,NaN,-37.254633,-56.972267,LocalizaciÃ³n precisa,CONABIP,Comunitaria,1975.0,2018
1150,42021020,42,42021,NaN,Bibliotecas Populares,NaN,La Pampa,Capital,Santa Rosa,Biblioteca Popular RaÃºl Isidoro D'Atri,...,lilab@cpenet.com.ar,NaN,NaN,-36.600867,-64.299600,LocalizaciÃ³n precisa,CONABIP,Comunitaria,1994.0,2018

In [15]:
df_Biblioteca.count()

Cod_Loc                   2017
IdProvincia               2017
IdDepartamento            2017
Observacion                  0
CategorÃ­a                2017
Subcategoria                 0
Provincia                 2017
Departamento              2017
Localidad                 2017
Nombre                    2017
Domicilio                 2017
Piso                         0
CP                        2017
Cod_tel                   2017
TelÃ©fono                 2017
Mail                      2017
Web                          0
InformaciÃ³n adicional       0
Latitud                   2017
Longitud                  2017
TipoLatitudLongitud       2017
Fuente                    2017
Tipo_gestion              2017
aÃ±o_inicio               2010
AÃ±o_actualizacion        2017
dtype: int64

In [16]:
df_Biblioteca['Id']=df_Biblioteca.index
df_Biblioteca['Id']=df_Biblioteca['Id'].astype(str)
df_Biblioteca['Id']=df_Biblioteca['Id']+'B'
df_Biblioteca.sample()

,Cod_Loc,IdProvincia,IdDepartamento,Observacion,CategorÃ­a,Subcategoria,Provincia,Departamento,Localidad,Nombre,...,Web,InformaciÃ³n adicional,Latitud,Longitud,TipoLatitudLongitud,Fuente,Tipo_gestion,aÃ±o_inicio,AÃ±o_actualizacion,Id
1673,6833050,6,6833,NaN,Bibliotecas Populares,NaN,Buenos Aires,Tres Arroyos,Micaela Cascallares,Biblioteca Popular Luz y Cultura,...,NaN,NaN,-38.494583,-60.467033,LocalizaciÃ³n precisa,CONABIP,Comunitaria,1935.0,2018,1673B

In [80]:
# df_Biblioteca.drop(columns={'Observacion', 'Subcategoria', 'Piso', 'Web', 'InformaciÃ³n adicional'},inplace=True)

In [17]:
df_Biblioteca=df_Biblioteca[['Id','IdProvincia','Provincia','IdDepartamento','Departamento','Cod_Loc', 'Localidad', 'CategorÃ­a', 
       'Nombre', 'Domicilio', 'CP', 'Cod_tel',
       'TelÃ©fono', 'Mail','Observacion', 'Subcategoria', 'Piso', 'Web', 'InformaciÃ³n adicional', 'Latitud', 'Longitud', 'TipoLatitudLongitud',
       'Fuente', 'Tipo_gestion', 'aÃ±o_inicio', 'AÃ±o_actualizacion',]]

In [5]:
df_Provincia=df_Biblioteca[['IdProvincia','Provincia','IdDepartamento','Cod_Loc']]
df_Provincia.sample()

      IdProvincia   Provincia  IdDepartamento   Cod_Loc
1059           78  Santa Cruz           78035  78035010

In [106]:
df_Provincia.drop_duplicates('IdProvincia', inplace=True)

C:\Users\Yesica\AppData\Local\Temp\ipykernel_18964\813221403.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_Provincia.drop_duplicates('IdProvincia', inplace=True)

In [107]:
# df_Provincia['IdProvincia'].nunique()
df_Provincia.count()

IdProvincia       24
Provincia         24
IdDepartamento    24
Cod_Loc           24
dtype: int64

In [ ]:
# df_Provincia['IdUnico']=df_Provincia.index

In [108]:
df_Provincia=df_Provincia[['IdProvincia','Provincia','IdDepartamento','Cod_Loc']]

In [109]:
df_Departamento=df_Biblioteca[['IdDepartamento','Departamento','IdProvincia','Cod_Loc']]
df_Departamento.sample()

    IdDepartamento Departamento  IdProvincia   Cod_Loc
75           30098      Uruguay           30  30098040

In [110]:
df_Departamento.drop_duplicates('IdDepartamento', inplace=True)

C:\Users\Yesica\AppData\Local\Temp\ipykernel_18964\3589807498.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_Departamento.drop_duplicates('IdDepartamento', inplace=True)

In [133]:
# df_Departamento['Id']=df_Departamento.index

In [111]:
df_Departamento=df_Departamento[['IdDepartamento','Departamento','IdProvincia','Cod_Loc']]

In [112]:
df_Departamento.count()

IdDepartamento    442
Departamento      442
IdProvincia       442
Cod_Loc           442
dtype: int64

In [113]:
df_Localidad=df_Biblioteca[['Cod_Loc', 'Localidad','IdDepartamento','IdProvincia','Domicilio', 'Piso', 'CP','Latitud', 'Longitud', 'TipoLatitudLongitud']]
df_Localidad.sample()

,Cod_Loc,Localidad,IdDepartamento,IdProvincia,Domicilio,Piso,CP,Latitud,Longitud,TipoLatitudLongitud
1596,74028020,Cortaderas,74028,74,Av. Juan Domingo PerÃ³n,NaN,5883,-32.505583,-64.990333,LocalizaciÃ³n precisa

In [114]:
df_Localidad.count()

Cod_Loc                2017
Localidad              2017
IdDepartamento         2017
IdProvincia            2017
Domicilio              2017
Piso                      0
CP                     2017
Latitud                2017
Longitud               2017
TipoLatitudLongitud    2017
dtype: int64

In [128]:
df_Localidad.drop_duplicates('Cod_Loc', inplace=True)

In [136]:
# df_Localidad['Id']=df_Localidad.index

In [115]:
df_Localidad=df_Localidad[['Cod_Loc', 'Localidad','IdDepartamento','IdProvincia','Domicilio', 'Piso','CP','Latitud', 'Longitud', 'TipoLatitudLongitud']]

In [43]:
# from sqlalchemy import create_engine
# engine23 = create_engine('postgresql://postgres:ADMIN1234@localhost:5432/challenge_data_analyst')
# engine24 = create_engine('postgresql+psycopg2://psycopg2:ADMIN1234@localhost:5432/challenge_data_analyst')

In [19]:
from sqlalchemy.types import Integer
from sqlalchemy.types import DATE
from sqlalchemy.types import VARCHAR 
from sqlalchemy.types import INTEGER
from sqlalchemy.types import Text
from sqlalchemy.types import DATETIME
from sqlalchemy.types import Float
from sqlalchemy.types import NUMERIC

**RENOMBRAR COLUMNAS**

In [20]:
df_Biblioteca.rename({'TelÃ©fono':'Telefono','CategorÃ­a':'Categoria','InformaciÃ³n adicional':'Informacion Adicional','aÃ±o_inicio':'Ano_Inicio', 'AÃ±o_actualizacion':'Ano_Actualizacion'},
axis=1, inplace=True)

In [21]:
df_Biblioteca.drop(['Provincia','Departamento','Localidad','Domicilio','Piso', 'CP','Latitud', 'Longitud', 'TipoLatitudLongitud'],axis=1,inplace=True)

In [22]:
df_Biblioteca.to_sql('BIBLIOTECA', con=enginesexy, if_exists='replace', index=False,
          dtype={"Id":VARCHAR, "Cod_Loc": INTEGER, "Id_Provincia": INTEGER , "Id_Departamento":INTEGER,
          "Categoria":Text,"Observacion":Text, "Subcategoria":Text,"InformaciÃ³n adicional":Text,  
          "Nombre":Text,  "Cod_tel":VARCHAR(100) , "Telefono":VARCHAR(100), "Web":VARCHAR(100), "Mail": VARCHAR(100),
          "Fuente":VARCHAR(100),
          "Tipo_gestion":VARCHAR(100) , "Ano_inicio":INTEGER, "Ano_actualizacion":INTEGER, })

17

In [120]:
df_Provincia.to_sql('Provincia', con=enginesexy, if_exists='replace', index=False,
        dtype={'IdProvincia':INTEGER,'Provincia':Text,'IdDepartamento':INTEGER,'Cod_Loc':INTEGER })

24

In [121]:
df_Departamento.to_sql('Departamento',con=enginesexy,if_exists='replace', index=False,
        dtype={'IdDepartamento':INTEGER,'Departamento':Text,'IdProvincia':INTEGER,'Cod_Loc':INTEGER})

442

In [129]:
df_Localidad.to_sql('Localidad',con=enginesexy,if_exists='replace', index=False,
        dtype={'Cod_Loc':INTEGER, 'Localidad':Text,'IdDepartamento':INTEGER,'IdProvincia':INTEGER,'Domicilio':Text,'Piso':Text, 'CP':Text,'Latitud':NUMERIC, 'Longitud':NUMERIC, 'TipoLatitudLongitud':Text,})

83

In [ ]:
# engine23.connect('SELECT *FROM BIBLIOTECA;')
# df.to_sql("BIBLIOTECA",con=engine23,if_exists='append',index=False)

In [79]:
text=("""SELECT * FROM "BIBLIOTECA"
    WHERE "IdProvincia"=70""")
# text("""ALTER TABLE "BIBLIOTECA" ADD PRIMARY KEY ("IdBiblioteca");""")   


# with enginesexy.connect() as conn:
#     conn.execute(text)


muestreo = pd.DataFrame(enginesexy.execute(text))
muestreo.head(2)

# engine24.execute(text=(""" SELECT * FROM BIBLIOTECA
#     WHERE IdProvincia=30;"""))se
# conn = engine23.connect()
# # muestreo = pd.DataFrame(enginesexy.execute(text))
# muestreo.head(3)
# enginesexy.execute(text)

,IdBiblioteca,IdProvincia,IdDepartamento,Cod_Loc,Categoria,Nombre,Cod_tel,Telefono,Mail,Observacion,Subcategoria,Web,Informacion Adicional,Fuente,Tipo_gestion,Año_Inicio,Año_Actualizacion
0,0B,70,70049,70049060,Bibliotecas Populares,Biblioteca Popular Juan P. Garramuno,s/d,s/d,s/d,None,None,None,None,CONABIP,Comunitaria,1930.0,2018
1,197B,70,70028,70028010,Bibliotecas Populares,Biblioteca Popular BartolomÃ© Mitre,264,4204469,bibliop_bmitre@yahoo.com.ar,None,None,None,None,CONABIP,Comunitaria,1910.0,2018

In [23]:
engineok = sa.create_engine('postgresql://postgres:ADMIN1234@localhost:5432/challenge_data_analyst')

text=("""ALTER TABLE "BIBLIOTECA" ADD PRIMARY KEY ("Id");""") 

engineok.execute(text)

In [12]:
engineok = sa.create_engine('postgresql://postgres:ADMIN1234@localhost:5432/challenge_data_analyst')

text=("""ALTER TABLE "Provincia" ADD PRIMARY KEY ("IdProvincia") ;""") 

engineok.execute(text)

ProgrammingError: (psycopg2.errors.InvalidTableDefinition) no se permiten múltiples llaves primarias para la tabla «Provincia»

[SQL: ALTER TABLE "Provincia" ADD PRIMARY KEY ("IdProvincia") ;]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [126]:
engineok = sa.create_engine('postgresql://postgres:ADMIN1234@localhost:5432/challenge_data_analyst')

text=("""ALTER TABLE "Departamento" ADD PRIMARY KEY ("IdDepartamento") ;""") 

engineok.execute(text)

In [130]:
engineok = sa.create_engine('postgresql://postgres:ADMIN1234@localhost:5432/challenge_data_analyst')

text=("""ALTER TABLE "Localidad" ADD PRIMARY KEY ("Cod_Loc") ;""") 

engineok.execute(text)

In [81]:
engineok = sa.create_engine('postgresql://postgres:ADMIN1234@localhost:5432/challenge_data_analyst')

text=("""ALTER TABLE  "BIBLIOTECA"
ADD FOREIGN KEY ("IdProvincia")  REFERENCES "Provincia" ("IdProvincia") ;""")
 
engineok.execute(text)

In [82]:
engineok = sa.create_engine('postgresql://postgres:ADMIN1234@localhost:5432/challenge_data_analyst')

text=("""ALTER TABLE  "Provincia" 
ADD FOREIGN KEY ("IdDepartamento") REFERENCES "Departamento" ("IdDepartamento");""")

engineok.execute(text)

In [83]:
engineok = sa.create_engine('postgresql://postgres:ADMIN1234@localhost:5432/challenge_data_analyst')

text=("""ALTER TABLE  "Departamento"
ADD FOREIGN KEY ("Cod_Loc") REFERENCES "Localidad" ("Cod_Loc") ;""")
 
engineok.execute(text)