In [82]:
import sqlalchemy as sa
import urllib 
import pandas as pd 
import psycopg2
from sqlalchemy import text
from conector import enginesexy

In [2]:
# parametros = (
#     'DRIVER=psycopg2;'
#     'SERVER=localhost;'
#     'DATABASE=challenge_data_analyst;'
#     'UID=postgres;'
#     'PWD=ADMIN1234;')

In [83]:

data = pd.read_csv("./cines.csv", encoding='UTF-8')
df_Cines = pd.DataFrame(data)
df_Cines.sample(2)

,Cod_Loc,IdProvincia,IdDepartamento,Observaciones,CategorÃ­a,Provincia,Departamento,Localidad,Nombre,DirecciÃ³n,...,InformaciÃ³n adicional,Latitud,Longitud,TipoLatitudLongitud,Fuente,tipo_gestion,Pantallas,Butacas,espacio_INCAA,aÃ±o_actualizacion
34,82063170,82,82063,NaN,Salas de cine,Santa Fe,La Capital,Santa Fe,Centro Cultural Prov. Francisco Paco Urondo,Junin 2457,...,NaN,-31.639196,-60.702974,LocalizaciÃ³n precisa,INCAA / SInCA,PÃºblico provincial,1,800,NaN,2018
115,30084160,30,30084,NaN,Salas de cine,Entre RÃ­os,Parana,ParanÃ¡,Cine Rex,Monte Caseros 266,...,NaN,-31.735579,-60.530820,LocalizaciÃ³n precisa,INCAA / SInCA,Privado comercial,3,434,NaN,2018

In [84]:
df_Cines['Id']=df_Cines.index
df_Cines['Id']=df_Cines['Id'].astype(str)
df_Cines['Id']=df_Cines['Id']+'C'
df_Cines.sample()

,Cod_Loc,IdProvincia,IdDepartamento,Observaciones,CategorÃ­a,Provincia,Departamento,Localidad,Nombre,DirecciÃ³n,...,Latitud,Longitud,TipoLatitudLongitud,Fuente,tipo_gestion,Pantallas,Butacas,espacio_INCAA,aÃ±o_actualizacion,Id
30,90084010,90,90084,NaN,Salas de cine,TucumÃ¡n,Capital,San Miguel de TucumÃ¡n,Atlas Cine,Av. Brigido Teran 250,...,-26.834701,-65.194059,LocalizaciÃ³n precisa,INCAA / SInCA,Privado comercial,2,219,NaN,2018,30C

In [49]:
# df_Cines.drop(columns={'Observaciones',  'InformaciÃ³n adicional'},inplace=True)

In [85]:
df_Cines.columns

Index(['Cod_Loc', 'IdProvincia', 'IdDepartamento', 'Observaciones',
       'CategorÃ­a', 'Provincia', 'Departamento', 'Localidad', 'Nombre',
       'DirecciÃ³n', 'Piso', 'CP', 'cod_area', 'TelÃ©fono', 'Mail', 'Web',
       'InformaciÃ³n adicional', 'Latitud', 'Longitud', 'TipoLatitudLongitud',
       'Fuente', 'tipo_gestion', 'Pantallas', 'Butacas', 'espacio_INCAA',
       'aÃ±o_actualizacion', 'Id'],
      dtype='object')

In [6]:
# df_Cines.drop_duplicates('IdProvincia', inplace=True)

In [7]:
# df_Cines.drop_duplicates('IdDepartamento', inplace=True)

In [54]:
# df_Cines.drop_duplicates('Cod_Loc',inplace=True)

In [85]:
# from sqlalchemy import create_engine
# engine23= create_engine('postgresql://postgres:ADMIN1234@localhost:5432/challenge_data_analyst')

In [88]:
from sqlalchemy.types import Integer
from sqlalchemy.types import DATE
from sqlalchemy.types import VARCHAR 
from sqlalchemy.types import INTEGER
from sqlalchemy.types import Text
from sqlalchemy.types import DATETIME
from sqlalchemy.types import Float
from sqlalchemy.types import NUMERIC

In [92]:
df_Cines.rename({'TelÃ©fono':'Telefono','CategorÃ­a':'Categoria','InformaciÃ³n adicional':'Informacion Adicional','espacio_INCAA':'Espacio_Incaa', 'aÃ±o_actualizacion':'Ano_Actualizacion',
'DirecciÃ³n':'Direccion','Observaciones':'Observacion'},
axis=1, inplace=True)

In [90]:
df_Cines.drop(['Provincia','Localidad','CP',],axis=1,inplace=True)

In [94]:
df_Cines=df_Cines[['Id','IdProvincia','IdDepartamento','Departamento', 'Categoria', 
       'Cod_Loc', 'Nombre', 'Direccion', 'Piso','Observacion',  'Informacion Adicional',
       'cod_area', 'Telefono', 'Mail', 'Web', 'Latitud', 'Longitud',
       'TipoLatitudLongitud', 'Fuente', 'tipo_gestion', 'Pantallas', 'Butacas',
       'Espacio_Incaa', 'Ano_Actualizacion']]

In [79]:
df_Cines.columns

Index(['Id', 'IdProvincia', 'IdDepartamento', 'Departamento', 'Categoria',
       'Cod_Loc', 'Nombre', 'Direccion', 'Piso', 'Observaciones',
       'Informacion Adicional', 'cod_area', 'Telefono', 'Mail', 'Web',
       'Latitud', 'Longitud', 'TipoLatitudLongitud', 'Fuente', 'tipo_gestion',
       'Pantallas', 'Butacas', 'Espacio_Incaa', 'Ano_Actualizacion'],
      dtype='object')

In [95]:
df_Cines.to_sql('CINES', con=enginesexy, if_exists='replace', index=False,
          dtype={"Id":VARCHAR,"Cod_Loc":INTEGER , "Id_Provincia": INTEGER, "Id_Departamento":INTEGER, 
          "Categoria":Text , "Observacion":Text,  "Informacion Adicional":Text,
          "Nombre":Text, "cod_area":VARCHAR(200) , "Telefono":Text , "Mail": VARCHAR(200),
          "Web":VARCHAR,  "Fuente":VARCHAR(200),
          "Tipo_gestion":VARCHAR(200),"Pantallas":VARCHAR,"Butacas":VARCHAR,"Espacio_Incaa":Text,  "Ano_Actualizacion":INTEGER, })

329

In [88]:
# df2.to_sql("CINES",con=engine23,if_exists='append',index=False)

329

In [16]:
text=("""SELECT * FROM "CINES"
     WHERE "IdProvincia"=10""")
muestreo1 = pd.DataFrame(enginesexy.execute(text))
muestreo1.head(5)

,IdCines,IdProvincia,IdDepartamento,Departamento,Categoria,Cod_Loc,Nombre,Observaciones,Informacion Adicional,cod_area,Telefono,Mail,Web,Fuente,tipo_gestion,Pantallas,Butacas,Espacio_Incaa,aÃ±o_actualizacion
0,0C,10,10049,Capital,Salas de cine,10049030,Cinemacenter,None,None,s/d,s/d,s/d,http://www.cinemacenter.com.ar/,INCAA / SInCA,Privado comercial,5,743,None,2018

In [96]:
engineok = sa.create_engine('postgresql://postgres:ADMIN1234@localhost:5432/challenge_data_analyst')

text=("""ALTER TABLE "CINES" ADD PRIMARY KEY ("Id");""") 
# text=("""SELECT * FROM "BIBLIOTECA" WHERE "IdProvincia"=30""")
engineok.execute(text)

In [18]:
text=("""ALTER TABLE  "CINES"
ADD FOREIGN KEY ("IdProvincia")  REFERENCES "Provincia" ("IdProvincia") ;""")
 
engineok.execute(text)

In [19]:
text=("""ALTER TABLE  "Provincia" 
ADD FOREIGN KEY ("IdDepartamento") REFERENCES "Departamento" ("IdDepartamento") ;""")
 
engineok.execute(text)

In [20]:
text=("""ALTER TABLE  "Departamento"
ADD FOREIGN KEY ("Cod_Loc") REFERENCES "Localidad" ("Cod_Loc") ;""")
 
engineok.execute(text)