In [1]:
import sqlalchemy as sa
import urllib 
import pandas as pd 
import psycopg2
from sqlalchemy import text
from conector import enginesexy

In [13]:
# parametros = (
#     'DRIVER=psycopg2;'
#     'SERVER=localhost;'
#     'DATABASE=challenge_data_analyst;'
#     'UID=postgres;'
#     'PWD=ADMIN1234;')

In [2]:
data = pd.read_csv("./biblioteca.csv")
df_Biblioteca = pd.DataFrame(data)
df_Biblioteca.sample(2)

,Cod_Loc,IdProvincia,IdDepartamento,Observacion,CategorÃ­a,Subcategoria,Provincia,Departamento,Localidad,Nombre,...,Mail,Web,InformaciÃ³n adicional,Latitud,Longitud,TipoLatitudLongitud,Fuente,Tipo_gestion,aÃ±o_inicio,AÃ±o_actualizacion
1067,6833080,6,6833,NaN,Bibliotecas Populares,NaN,Buenos Aires,Tres Arroyos,San Francisco de Belloq,Biblioteca Popular San Francisco de Bellocq,...,bibsanfrabe@eternet.cc,NaN,NaN,-38.691284,-60.015125,LocalizaciÃ³n precisa,CONABIP,Comunitaria,1993.0,2018
503,82042080,82,82042,NaN,Bibliotecas Populares,NaN,Santa Fe,General Lopez,Chovet,Biblioteca Popular Alberto Chovet,...,biblioteca_chovet@hotmail.com,NaN,NaN,-33.601967,-61.607883,LocalizaciÃ³n precisa,CONABIP,Comunitaria,1937.0,2018

In [3]:
df_Biblioteca['IdBiblioteca']=df_Biblioteca.index

In [4]:
df_Biblioteca.drop(columns={'Observacion', 'Subcategoria', 'Piso', 'Web', 'InformaciÃ³n adicional'},inplace=True)

In [5]:
df_Biblioteca=df_Biblioteca[['IdBiblioteca','IdProvincia','Provincia','IdDepartamento','Departamento','Cod_Loc', 'Localidad', 'CategorÃ­a', 
       'Nombre', 'Domicilio', 'CP', 'Cod_tel',
       'TelÃ©fono', 'Mail', 'Latitud', 'Longitud', 'TipoLatitudLongitud',
       'Fuente', 'Tipo_gestion', 'aÃ±o_inicio', 'AÃ±o_actualizacion',]]

In [6]:
df_Provincia=df_Biblioteca[['IdProvincia','Provincia']]
df_Provincia.sample()

      IdProvincia            Provincia
1971           86  Santiago del Estero

In [7]:
df_Provincia.drop_duplicates('IdProvincia', inplace=True)

C:\Users\Yesica\AppData\Local\Temp\ipykernel_2400\813221403.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_Provincia.drop_duplicates('IdProvincia', inplace=True)

In [8]:
# df_Provincia['IdProvincia'].nunique()
df_Provincia.size

48

In [197]:
# df_Provincia['IdUnico']=df_Provincia.index

C:\Users\Yesica\AppData\Local\Temp\ipykernel_17348\3624346466.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_Provincia['IdUnico']=df_Provincia.index

In [9]:
df_Provincia=df_Provincia[['IdProvincia','Provincia']]

In [10]:
df_Departamento=df_Biblioteca[['IdDepartamento','Departamento']]
df_Departamento.sample()

      IdDepartamento Departamento
1735           82084      Rosario

In [11]:
df_Departamento.drop_duplicates('IdDepartamento', inplace=True)

C:\Users\Yesica\AppData\Local\Temp\ipykernel_2400\3589807498.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_Departamento.drop_duplicates('IdDepartamento', inplace=True)

In [133]:
# df_Departamento['Id']=df_Departamento.index

In [12]:
df_Departamento=df_Departamento[['IdDepartamento','Departamento']]

In [13]:
df_Localidad=df_Biblioteca[['Cod_Loc', 'Localidad','Domicilio', 'CP','Latitud', 'Longitud', 'TipoLatitudLongitud']]
df_Localidad.sample()

,Cod_Loc,Localidad,Domicilio,CP,Latitud,Longitud,TipoLatitudLongitud
1789,50105200,Salto de las Rocas,Sarmiento,5603,-34.721317,-68.22645,LocalizaciÃ³n precisa

In [14]:
df_Localidad.drop_duplicates('Cod_Loc', inplace=True)

C:\Users\Yesica\AppData\Local\Temp\ipykernel_2400\3150280777.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_Localidad.drop_duplicates('Cod_Loc', inplace=True)

In [136]:
# df_Localidad['Id']=df_Localidad.index

In [15]:
df_Localidad=df_Localidad[['Cod_Loc', 'Localidad','Domicilio', 'CP','Latitud', 'Longitud', 'TipoLatitudLongitud']]

In [43]:
# from sqlalchemy import create_engine
# engine23 = create_engine('postgresql://postgres:ADMIN1234@localhost:5432/challenge_data_analyst')
# engine24 = create_engine('postgresql+psycopg2://psycopg2:ADMIN1234@localhost:5432/challenge_data_analyst')

In [16]:
from sqlalchemy.types import Integer
from sqlalchemy.types import DATE
from sqlalchemy.types import VARCHAR 
from sqlalchemy.types import INTEGER
from sqlalchemy.types import Text
from sqlalchemy.types import DATETIME
from sqlalchemy.types import Float
from sqlalchemy.types import NUMERIC

In [17]:
df_Biblioteca.drop(['Provincia','Departamento','Localidad','Domicilio', 'CP','Latitud', 'Longitud', 'TipoLatitudLongitud'],axis=1,inplace=True)

In [18]:
df_Biblioteca.to_sql('BIBLIOTECA', con=enginesexy, if_exists='replace', index=False,
          dtype={"IdBiblioteca":INTEGER, "Cod_Loc": VARCHAR(50), "Id_Provincia": VARCHAR(50) , "Id_Departamento":VARCHAR(50),
          "Categoria":Text,  
          "Nombre":Text,  "Cod_tel":VARCHAR(100) , "Telefono":VARCHAR(100) , "Mail": VARCHAR(100),
          "Fuente":VARCHAR(100),
          "Tipo_gestion":VARCHAR(100) , "Año_inicio":INTEGER, "Año_actualizacion":INTEGER, })

17

In [19]:
df_Provincia.to_sql('Provincia', con=enginesexy, if_exists='replace', index=False,
        dtype={'IdProvincia':INTEGER,'Provincia':Text, })

24

In [20]:
df_Departamento.to_sql('Departamento',con=enginesexy,if_exists='replace', index=False,
        dtype={'IdDepartamento':INTEGER,'Departamento':Text,})

442

In [21]:
df_Localidad.to_sql('Localidad',con=enginesexy,if_exists='replace', index=False,
        dtype={'Cod_Loc':INTEGER, 'Localidad':Text,'Domicilio':Text, 'CP':Text,'Latitud':NUMERIC, 'Longitud':NUMERIC, 'TipoLatitudLongitud':Text,})

83

In [ ]:
# engine23.connect('SELECT *FROM BIBLIOTECA;')
# df.to_sql("BIBLIOTECA",con=engine23,if_exists='append',index=False)

In [ ]:
text=("""SELECT * FROM "BIBLIOTECA"
    WHERE "IdProvincia"=70""")
# text("""ALTER TABLE "BIBLIOTECA" ADD PRIMARY KEY ("IdBiblioteca");""")   


# with enginesexy.connect() as conn:
#     conn.execute(text)


muestreo = pd.DataFrame(enginesexy.execute(text))
muestreo.head(5)

# engine24.execute(text=(""" SELECT * FROM BIBLIOTECA
#     WHERE IdProvincia=30;"""))se
# conn = engine23.connect()
# # muestreo = pd.DataFrame(enginesexy.execute(text))
# muestreo.head(3)
# enginesexy.execute(text)

In [105]:
engineok = sa.create_engine('postgresql://postgres:ADMIN1234@localhost:5432/challenge_data_analyst')

text=("""ALTER TABLE "BIBLIOTECA" ADD PRIMARY KEY ("IdBiblioteca");""") 
# text=("""ALTER TABLE IF EXISTS public."BIBLIOTECA"
    # ADD CONSTRAINT "BIBLIOTECA_Departamento_fkey" FOREIGN KEY ("IdDepartamento")
    # REFERENCES public."Departamento" ("Id") MATCH SIMPLE""")
engineok.execute(text)

In [23]:
engineok = sa.create_engine('postgresql://postgres:ADMIN1234@localhost:5432/challenge_data_analyst')

text=("""ALTER TABLE "Provincia" ADD PRIMARY KEY ("IdProvincia") ;""") 

engineok.execute(text)

In [24]:
engineok = sa.create_engine('postgresql://postgres:ADMIN1234@localhost:5432/challenge_data_analyst')

text=("""ALTER TABLE "Departamento" ADD PRIMARY KEY ("IdDepartamento") ;""") 

engineok.execute(text)

In [25]:
engineok = sa.create_engine('postgresql://postgres:ADMIN1234@localhost:5432/challenge_data_analyst')

text=("""ALTER TABLE "Localidad" ADD PRIMARY KEY ("Cod_Loc") ;""") 

engineok.execute(text)