In [11]:
import sqlalchemy as sa
import urllib 
import pandas as pd 
import psycopg2

In [13]:
parametros = (
    'DRIVER=psycopg2;'
    'SERVER=localhost;'
    'DATABASE=challenge_data_analyst;'
    'UID=postgres;'
    'PWD=ADMIN1234;')

In [ ]:
data = pd.read_csv("./museos.csv")
df3 = pd.DataFrame(data)
df3.sample(5)

In [17]:
df3.drop(columns={'Observaciones', 'piso', 'Web' , 'Info_adicional'},inplace=True)

In [19]:
from sqlalchemy import create_engine
engine23= create_engine('postgresql://postgres:ADMIN1234@localhost:5432/challenge_data_analyst')
# engine23 = create_engine('postgresql+psycopg2://postgres:admin1234/@localhost/challenge_data_analyst')

In [20]:
from sqlalchemy.types import Integer
from sqlalchemy.types import DATE
from sqlalchemy.types import VARCHAR 
from sqlalchemy.types import INTEGER
from sqlalchemy.types import Text
from sqlalchemy.types import DATETIME
from sqlalchemy.types import Float
from sqlalchemy.types import NUMERIC

In [21]:
df3.to_sql('MUSEOS', con=engine23, if_exists='append', index=False,
          dtype={"Cod_Loc": VARCHAR(50), "Id_Provincia": VARCHAR , "Id_Departamento":VARCHAR,
          "Observaciones":Text,"Categoria":Text,"subcategoria":Text,  "Provincia":Text , "Localidad":Text,
          "Nombre":Text, "direccion":Text,"piso":VARCHAR, "CP":VARCHAR(50), "Cod_area":VARCHAR(200) , "Telefono":VARCHAR(200) , "Mail": VARCHAR(200),
          "Web":VARCHAR,  "Latitud":NUMERIC(10,8),  "Longitud":NUMERIC(10,8), "Tipo_Latitud_Longitud":Text, "Info_adicional":Text, "Fuente":VARCHAR(200),
          "jurisdiccion":VARCHAR(200) , "AÃ±o_inauguracion":INTEGER, "actualizacion":INTEGER, })

182

In [22]:
engine23.connect('SELECT *FROM MUSEOS;')
df3.to_sql("MUSEOS",con=engine23,if_exists='append',index=False)

182