In [1]:
import sqlalchemy as sa
import urllib 
import pandas as pd 
import psycopg2
from sqlalchemy import text
from conector import enginesexy

In [2]:
# parametros = (
#     'DRIVER=psycopg2;'
#     'SERVER=localhost;'
#     'DATABASE=challenge_data_analyst;'
#     'UID=postgres;'
#     'PWD=ADMIN1234;')

In [2]:

data = pd.read_csv("./cines.csv")
df_Cines = pd.DataFrame(data)
df_Cines.sample(2)

,Cod_Loc,IdProvincia,IdDepartamento,Observaciones,CategorÃ­a,Provincia,Departamento,Localidad,Nombre,DirecciÃ³n,...,InformaciÃ³n adicional,Latitud,Longitud,TipoLatitudLongitud,Fuente,tipo_gestion,Pantallas,Butacas,espacio_INCAA,aÃ±o_actualizacion
186,82084270,82,82084,NaN,Salas de cine,Santa Fe,Rosario,Rosario,Cines Del Centro,Rioja 1660,...,NaN,-32.946177,-60.646324,LocalizaciÃ³n precisa,INCAA / SInCA,Privado comercial,4,659,NaN,2018
297,6441030,6,6441,NaN,Salas de cine,Buenos Aires,La Plata,La Plata,Cinema,Calle 7 923,...,NaN,-34.915321,-57.949275,LocalizaciÃ³n precisa,INCAA / SInCA,Privado comercial,7,2184,NaN,2018

In [3]:
df_Cines['IdCines']=df_Cines.index

In [49]:
# df_Cines.drop(columns={'Observaciones',  'InformaciÃ³n adicional'},inplace=True)

In [4]:
df_Cines=df_Cines[['IdCines','IdProvincia','Provincia', 'IdDepartamento','Departamento', 'CategorÃ­a', 
       'Cod_Loc', 'Localidad', 'Nombre', 'DirecciÃ³n', 'Piso', 'CP','Observaciones',  'InformaciÃ³n adicional',
       'cod_area', 'TelÃ©fono', 'Mail', 'Web', 'Latitud', 'Longitud',
       'TipoLatitudLongitud', 'Fuente', 'tipo_gestion', 'Pantallas', 'Butacas',
       'espacio_INCAA', 'aÃ±o_actualizacion', 'IdCines']]

In [5]:
df_Cines.columns

Index(['IdCines', 'IdProvincia', 'Provincia', 'IdDepartamento', 'Departamento',
       'CategorÃ­a', 'Cod_Loc', 'Localidad', 'Nombre', 'DirecciÃ³n', 'Piso',
       'CP', 'Observaciones', 'InformaciÃ³n adicional', 'cod_area',
       'TelÃ©fono', 'Mail', 'Web', 'Latitud', 'Longitud',
       'TipoLatitudLongitud', 'Fuente', 'tipo_gestion', 'Pantallas', 'Butacas',
       'espacio_INCAA', 'aÃ±o_actualizacion', 'IdCines'],
      dtype='object')

In [6]:
df_Cines.drop_duplicates('IdProvincia', inplace=True)

In [7]:
df_Cines.drop_duplicates('IdDepartamento', inplace=True)

In [54]:
# df_Cines.drop_duplicates('Cod_Loc',inplace=True)

In [85]:
# from sqlalchemy import create_engine
# engine23= create_engine('postgresql://postgres:ADMIN1234@localhost:5432/challenge_data_analyst')

In [8]:
from sqlalchemy.types import Integer
from sqlalchemy.types import DATE
from sqlalchemy.types import VARCHAR 
from sqlalchemy.types import INTEGER
from sqlalchemy.types import Text
from sqlalchemy.types import DATETIME
from sqlalchemy.types import Float
from sqlalchemy.types import NUMERIC

In [9]:
df_Cines.drop(['Provincia','Localidad','DirecciÃ³n','Piso', 'CP','Latitud', 'Longitud', 'TipoLatitudLongitud'],axis=1,inplace=True)

In [10]:
df_Cines.to_sql('CINES', con=enginesexy, if_exists='append', index=False,
          dtype={"IdCines":INTEGER,"Cod_Loc":INTEGER , "Id_Provincia": INTEGER, "Id_Departamento":INTEGER, 
          "CategorÃ­a":Text , 'Observaciones':Text,  'InformaciÃ³n adicional':Text,
          "Nombre":Text, "cod_area":VARCHAR(200) , "Telefono":Text , "Mail": VARCHAR(200),
          "Web":VARCHAR,  "Fuente":VARCHAR(200),
          "Tipo_gestion":VARCHAR(200),"Pantallas":VARCHAR,"Butacas":VARCHAR,"espacio_INCAA":Text,  "Año_actualizacion":INTEGER, })

24

In [88]:
# df2.to_sql("CINES",con=engine23,if_exists='append',index=False)

329

In [11]:
text=("""SELECT * FROM "CINES"
     WHERE "IdProvincia"=10""")
muestreo1 = pd.DataFrame(enginesexy.execute(text))
muestreo1.head(5)

,IdCines,IdProvincia,IdDepartamento,Departamento,CategorÃ­a,Cod_Loc,Nombre,Observaciones,InformaciÃ³n adicional,cod_area,TelÃ©fono,Mail,Web,Fuente,tipo_gestion,Pantallas,Butacas,espacio_INCAA,aÃ±o_actualizacion
0,0,10,10049,Capital,Salas de cine,10049030,Cinemacenter,None,None,s/d,s/d,s/d,http://www.cinemacenter.com.ar/,INCAA / SInCA,Privado comercial,5,743,None,2018

In [12]:
engineok = sa.create_engine('postgresql://postgres:ADMIN1234@localhost:5432/challenge_data_analyst')

text=("""ALTER TABLE "CINES" ADD PRIMARY KEY ("IdCines");""") 
# text=("""SELECT * FROM "BIBLIOTECA" WHERE "IdProvincia"=30""")
engineok.execute(text)

In [13]:
text=("""ALTER TABLE  "CINES"
ADD FOREIGN KEY ("Cod_Loc")  REFERENCES "Localidad" ("Cod_Loc") ;""")
 
engineok.execute(text)

In [14]:
text=("""ALTER TABLE  "Localidad" 
ADD FOREIGN KEY ("IdDepartamento") REFERENCES "Departamento" ("IdDepartamento") ;""")
 
engineok.execute(text)

In [15]:
text=("""ALTER TABLE  "Departamento"
ADD FOREIGN KEY ("IdProvincia") REFERENCES "Provincia" ("IdProvincia") ;""")
 
engineok.execute(text)