In [112]:
import sqlalchemy as sa
import pandas as pd 
from sqlalchemy import text
from conector import enginesexy

In [113]:
from sqlalchemy.types import VARCHAR 
from sqlalchemy.types import INTEGER
from sqlalchemy.types import Text

volvemos a leer .csv/biblioteca para crear las tablas dependientes como Provincia ,Departamento y Localidad

In [83]:
data = pd.read_csv("./biblioteca.csv")
df_Biblioteca = pd.DataFrame(data)
df_Biblioteca.sample(2)

,Cod_Loc,IdProvincia,IdDepartamento,Observacion,CategorÃ­a,Subcategoria,Provincia,Departamento,Localidad,Nombre,...,Mail,Web,InformaciÃ³n adicional,Latitud,Longitud,TipoLatitudLongitud,Fuente,Tipo_gestion,aÃ±o_inicio,AÃ±o_actualizacion
1833,74056130,74,74056,NaN,Bibliotecas Populares,NaN,San Luis,La Capital,Salinas del Berbedero,Biblioteca Popular Dr. A. RodrÃ­guez Saa,...,biblio_rodriguezsaa@yahoo.com.ar,NaN,NaN,-33.33252,-66.632080,LocalizaciÃ³n precisa,CONABIP,Comunitaria,1930.0,2018
832,26007020,26,26007,NaN,Bibliotecas Populares,NaN,Chubut,Biedma,Puerto Madryn,Biblioteca Popular PÃºblica Municipal Domingo ...,...,s/d,NaN,NaN,-42.76630,-65.038883,LocalizaciÃ³n precisa,CONABIP,Comunitaria,1930.0,2018

In [114]:
text=("""SELECT * FROM "BIBLIOTECA"
    WHERE "IdProvincia"=70""")


muestreo = pd.DataFrame(enginesexy.execute(text))
muestreo.head(2)

,Cod_Loc,IdProvincia,IdDepartamento,Observacion,Categoria,Subcategoria,Nombre,Domicilio,Piso,CP,...,Web,Informacion Adicional,Latitud,Longitud,TipoLatitudLongitud,Fuente,Tipo_gestion,Ano_Inicio,Ano_Actualizacion,Id
0,70049060,70,70049,None,Bibliotecas Populares,None,Biblioteca Popular Juan P. Garramuno,Santo Domingo,None,5465,...,None,None,-30.20925,-69.130117,LocalizaciÃ³n precisa,CONABIP,Comunitaria,1930.0,2018,0B
1,70028010,70,70028,None,Bibliotecas Populares,None,Biblioteca Popular BartolomÃ© Mitre,Mendoza (Norte) 931,None,5400,...,None,None,-31.522417,-68.52755,LocalizaciÃ³n precisa,CONABIP,Comunitaria,1910.0,2018,197B

**Creacion y noramalizacion  de la tabla Provincia**

In [85]:
df_Provincia=df_Biblioteca[['IdProvincia','Provincia','IdDepartamento','Cod_Loc']]
df_Provincia.sample()

      IdProvincia    Provincia  IdDepartamento   Cod_Loc
1083           30  Entre RÃ­os           30077  30077050

In [86]:
df_Provincia.drop_duplicates('IdProvincia', inplace=True)

C:\Users\Yesica\AppData\Local\Temp\ipykernel_9320\813221403.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_Provincia.drop_duplicates('IdProvincia', inplace=True)

In [87]:
df_Provincia.count()

IdProvincia       24
Provincia         24
IdDepartamento    24
Cod_Loc           24
dtype: int64

In [91]:
df_Provincia=df_Provincia[['IdProvincia','Provincia','IdDepartamento','Cod_Loc']]

In [92]:
df_Provincia.to_sql('Provincia', con=enginesexy, if_exists='replace', index=False,
        dtype={'IdProvincia':INTEGER,'Provincia':Text,'IdDepartamento':INTEGER,'Cod_Loc':INTEGER })

24

In [120]:
engineok = sa.create_engine('postgresql://postgres:ADMIN1234@localhost:5432/challenge_data_analyst')
text=("""ALTER TABLE "Provincia" ADD PRIMARY KEY ("IdProvincia") ;""")
engineok.execute(text)

**Creacion y noramalizacion la tabla Departamento**

In [95]:
df_Departamento=df_Biblioteca[['IdDepartamento','Departamento','IdProvincia','Cod_Loc']]
df_Departamento.sample()

     IdDepartamento Departamento  IdProvincia   Cod_Loc
152           18161    San Roque           18  18161040

In [96]:
df_Departamento.drop_duplicates('IdDepartamento', inplace=True)

C:\Users\Yesica\AppData\Local\Temp\ipykernel_9320\3589807498.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_Departamento.drop_duplicates('IdDepartamento', inplace=True)

In [97]:
df_Departamento=df_Departamento[['IdDepartamento','Departamento','IdProvincia','Cod_Loc']]

In [98]:
df_Departamento.count()

IdDepartamento    442
Departamento      442
IdProvincia       442
Cod_Loc           442
dtype: int64

In [99]:
df_Departamento.to_sql('Departamento',con=enginesexy,if_exists='replace', index=False,
        dtype={'IdDepartamento':INTEGER,'Departamento':Text,'IdProvincia':INTEGER,'Cod_Loc':INTEGER})

442

In [119]:
engineok = sa.create_engine('postgresql://postgres:ADMIN1234@localhost:5432/challenge_data_analyst')

text=("""ALTER TABLE "Departamento" ADD PRIMARY KEY ("IdDepartamento") ;""") 
engineok.execute(text)

**Creacion y normalizacion de la tabla Localidad**

In [101]:
df_Localidad=df_Biblioteca[['Cod_Loc', 'Localidad','IdDepartamento','IdProvincia',]]
df_Localidad.sample()

       Cod_Loc Localidad  IdDepartamento  IdProvincia
1329  14133170   Yacanto           14133           14

In [102]:
df_Localidad.drop_duplicates('Cod_Loc', inplace=True)

C:\Users\Yesica\AppData\Local\Temp\ipykernel_9320\3150280777.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_Localidad.drop_duplicates('Cod_Loc', inplace=True)

In [103]:
df_Localidad=df_Localidad[['Cod_Loc', 'Localidad','IdDepartamento','IdProvincia']]

In [104]:
df_Localidad.count()

Cod_Loc           1083
Localidad         1083
IdDepartamento    1083
IdProvincia       1083
dtype: int64

In [105]:
df_Localidad.to_sql('Localidad',con=enginesexy,if_exists='replace', index=False,
        dtype={'Cod_Loc':INTEGER, 'Localidad':Text,'IdDepartamento':INTEGER,'IdProvincia':INTEGER})

83

In [118]:
engineok = sa.create_engine('postgresql://postgres:ADMIN1234@localhost:5432/challenge_data_analyst')

text=("""ALTER TABLE "Localidad" ADD PRIMARY KEY ("Cod_Loc") ;""") 
engineok.execute(text)