In [251]:
import sqlalchemy as sa
import pandas as pd 
from sqlalchemy import text
from conector import enginesexy

In [252]:
from sqlalchemy.types import VARCHAR 
from sqlalchemy.types import INTEGER
from sqlalchemy.types import Text

volvemos a leer .csv/biblioteca para crear las tablas dependientes como Provincia ,Departamento y Localidad

In [253]:
dataB = pd.read_csv("./biblioteca.csv")
df_Biblioteca = pd.DataFrame(dataB)
df_Biblioteca.sample(2)

,Cod_Loc,IdProvincia,IdDepartamento,Observacion,CategorÃ­a,Subcategoria,Provincia,Departamento,Localidad,Nombre,...,Mail,Web,InformaciÃ³n adicional,Latitud,Longitud,TipoLatitudLongitud,Fuente,Tipo_gestion,aÃ±o_inicio,AÃ±o_actualizacion
291,86049110,86,86049,NaN,Bibliotecas Populares,NaN,Santiago del Estero,Capital,Santiago del Estero,Biblioteca Popular Gobernador Eduardo Miguel,...,s/d,NaN,NaN,-27.798300,-64.245933,LocalizaciÃ³n precisa,CONABIP,Comunitaria,1930.0,2018
1292,22098030,22,22098,NaN,Bibliotecas Populares,NaN,Chaco,Mayor Luis J. Fontana,Villa Angela,Biblioteca Escolar Popular Maestro Sarmiento,...,s/d,NaN,NaN,-27.577533,-60.701200,LocalizaciÃ³n precisa,CONABIP,Comunitaria,1981.0,2018

In [254]:
df_Biblioteca.rename({'TelÃ©fono':'Telefono','CategorÃ­a':'Categoria','InformaciÃ³n adicional':'Informacion Adicional','aÃ±o_inicio':'Ano_Inicio', 'AÃ±o_actualizacion':'Ano_Actualizacion'},
axis=1, inplace=True)

In [255]:
text=("""SELECT * FROM "BIBLIOTECA"
    WHERE "Cod_Loc"=86119100""")


muestreo = pd.DataFrame(enginesexy.execute(text))
muestreo.head(2)

Empty DataFrame
Columns: []
Index: []

**Creacion y noramalizacion  de la tabla Provincia**

In [256]:
df_ProvinciaB=df_Biblioteca[['IdProvincia','Provincia']]
df_ProvinciaB.sample(6)

      IdProvincia     Provincia
148            18    Corrientes
276            82      Santa Fe
1682           14      CÃ³rdoba
100            82      Santa Fe
1204           74      San Luis
565             6  Buenos Aires

In [257]:
df_ProvinciaB=df_ProvinciaB[['IdProvincia','Provincia',]]

**Creacion y noramalizacion la tabla Departamento**

In [258]:
df_DepartamentoB=df_Biblioteca[['IdDepartamento','Departamento','IdProvincia',]]
df_DepartamentoB.sample(10)

      IdDepartamento  Departamento  IdProvincia
938            58035   Confluencia           58
356             6833  Tres Arroyos            6
1440           70028       Capital           70
1832            6427    La Matanza            6
1256           22105    9 de Julio           22
1724           82056       Iriondo           82
1446            6749  San Fernando            6
999            34021        Laishi           34
1609           50035         Junin           50
1791            6441      La Plata            6

**Creacion y normalizacion de la tabla Localidad**

In [259]:
df_LocalidadB=df_Biblioteca[['Cod_Loc', 'Localidad','IdDepartamento','CP', 'Cod_tel',]]
df_LocalidadB.sample()

       Cod_Loc    Localidad  IdDepartamento    CP Cod_tel
1136  74028090  Villa Larca           74028  5883     s/d

**Relaciones**

In [260]:

dataC = pd.read_csv("./cines.csv", encoding='UTF-8')
df_Cines = pd.DataFrame(dataC)
df_Cines.sample(2)

,Cod_Loc,IdProvincia,IdDepartamento,Observaciones,CategorÃ­a,Provincia,Departamento,Localidad,Nombre,DirecciÃ³n,...,InformaciÃ³n adicional,Latitud,Longitud,TipoLatitudLongitud,Fuente,tipo_gestion,Pantallas,Butacas,espacio_INCAA,aÃ±o_actualizacion
310,6420020,6,6420,NaN,Salas de cine,Buenos Aires,La Costa,Mar de AjÃ³,California,Hipolito Irigoyen 18,...,NaN,-36.726598,-56.675313,LocalizaciÃ³n precisa,INCAA / SInCA,Privado comercial,2,551,NaN,2018
327,10049030,10,10049,NaN,Salas de cine,Catamarca,Capital,Catamarca,Cine Teatro Catamarca,San MartÃ­n 555,...,NaN,-28.469709,-65.778881,LocalizaciÃ³n precisa,INCAA / SInCA,PÃºblico municipal,1,1103,si,2018

In [261]:
df_Cines.rename({'TelÃ©fono':'Telefono','CategorÃ­a':'Categoria','InformaciÃ³n adicional':'Informacion Adicional','espacio_INCAA':'Espacio_Incaa', 'aÃ±o_actualizacion':'Ano_Actualizacion',
'DirecciÃ³n':'Direccion','Observaciones':'Observacion','tipo_gestion':'Tipo_gestion','cod_area':'Cod_tel'},
axis=1, inplace=True)

In [262]:
df_LocalidadC=df_Cines[['Cod_Loc', 'Localidad','IdDepartamento','CP', 'Cod_tel',]]
df_LocalidadC.sample()

     Cod_Loc Localidad  IdDepartamento    CP Cod_tel
40  14098110     Elena           14098  5815     358

In [263]:
df_ProvinciaC=df_Cines[['IdProvincia','Provincia']]
df_ProvinciaC.sample()

     IdProvincia   Provincia
140           62  RÃ­o Negro

In [264]:
df_DepartamentoC=df_Cines[['IdDepartamento','Departamento','IdProvincia',]]
df_DepartamentoC.sample()

     IdDepartamento  Departamento  IdProvincia
138           62042  General Roca           62

In [265]:
dataM = pd.read_csv("./museos.csv", encoding='UTF-8')
df_Museos = pd.DataFrame(dataM)
df_Museos.sample(2)

,Cod_Loc,IdProvincia,IdDepartamento,Observaciones,categoria,subcategoria,provincia,localidad,nombre,direccion,...,Mail,Web,Latitud,Longitud,TipoLatitudLongitud,Info_adicional,fuente,jurisdiccion,aÃ±o_inauguracion,actualizacion
1042,82084270,82,82084,NaN,Espacios de ExhibiciÃ³n Patrimonial,Museos,Santa Fe,Rosario,Museo Experimental De Ciencias,"Planetario y Observatorio AstronÃ³mico, Parque...",...,NaN,NaN,-32.959561,-60.624061,LocalizaciÃ³n precisa,NaN,DNPyM,Municipal,1987.0,2017
815,58035070,58,58035,NaN,Espacios de ExhibiciÃ³n Patrimonial,Museos,NeuquÃ©nÂ,NeuquÃ©n,Museo Y Archivo HistÃ³rico Policial De La Prov...,Montevideo 50,...,NaN,NaN,-38.960380,-68.058339,LocalizaciÃ³n precisa,NaN,DNPyM,Provincial,NaN,2017

In [266]:
df_Museos.rename({'aÃ±o_inauguracion':'Ano_inauguracion','actualizacion':'Ano_actualizacion',
'direccion':'Direccion','provincia':'Provincia', 'fuente':'Fuente', 'categoria':'Categoria','Observaciones':'Observacion','nombre':'Nombre',
'piso':'Piso','cod_area':'Cod_tel','telefono':'Telefono','jurisdiccion':'Jurisdiccion','localidad':'Localidad'},
axis=1, inplace=True)

In [267]:
df_DepartamentoM=df_Museos[['IdDepartamento','IdProvincia',]]
df_DepartamentoM.sample(10)

      IdDepartamento  IdProvincia
139             6371            6
1068           82063           82
182            10049           10
677            42021           42
444            14126           14
1012           82126           82
1058           82126           82
667            42133           42
811            58049           58
426            14021           14

In [268]:
df_ProvinciaM=df_Museos[['IdProvincia','Provincia']]
df_ProvinciaM.sample()

     IdProvincia     Provincia
102            6  Buenos Aires

In [269]:
df_LocalidadM=df_Museos[['Cod_Loc', 'Localidad','IdDepartamento','CP', 'Cod_tel',]]
df_LocalidadM.sample()

       Cod_Loc Localidad  IdDepartamento        CP  Cod_tel
1030  82084270   Rosario           82084  S2000AAT    341.0

In [270]:
df_resultadoP=pd.concat([df_ProvinciaB,df_ProvinciaC,df_ProvinciaM], sort=False, ignore_index=False)
df_resultadoP.sample(6)

      IdProvincia     Provincia
802            58    NeuquÃ©nÂ
1410            6  Buenos Aires
1531           14      CÃ³rdoba
222            38         Jujuy
929            62    RÃ­o Negro
396            14      CÃ³rdoba

In [271]:
df_resultadoP.drop_duplicates('IdProvincia' ,inplace=True)

In [272]:
df_resultadoD=pd.concat([df_DepartamentoB,df_DepartamentoC,df_DepartamentoM], sort=False, ignore_index=False)
df_resultadoD.sample(6)

      IdDepartamento      Departamento  IdProvincia
846             6882            Zarate            6
289             6280  General Alvarado            6
197            50007           Capital           50
1978           62042      General Roca           62
205            22140               NaN           22
1692           74021  Coronel Pringles           74

In [273]:
df_resultadoD.drop_duplicates('IdDepartamento',inplace=True)

In [274]:
df_resultadoL=pd.concat([df_LocalidadB,df_LocalidadC,df_LocalidadM], sort=False, ignore_index=False)
df_resultadoL.sample(6)

       Cod_Loc       Localidad  IdDepartamento        CP Cod_tel
205   46014010        La Rioja           46014      5300    3822
148    6861010  Vicente LÃ³pez            6861       NaN     NaN
470   14091240   Valle Hermoso           14091  X5168AVC  3548.0
322    6511020          MaipÃº            6511      7160    2268
1567  62042390    Cinco Saltos           62042      8303     299
1020  50007010         Mendoza           50007      5500     261

In [284]:
df_resultadoL.drop_duplicates('Cod_Loc', inplace=True)

In [276]:
df_resultadoP.to_sql('Provincia', con=enginesexy, if_exists='replace', index=False,
        dtype={'IdProvincia':INTEGER,'Provincia':Text,})

24

In [277]:
engineok = sa.create_engine('postgresql://postgres:ADMIN1234@localhost:5432/challenge_data_analyst')
text=("""ALTER TABLE "Provincia" ADD PRIMARY KEY ("IdProvincia") ;""")
engineok.execute(text)

In [278]:
df_resultadoD.to_sql('Departamento',con=enginesexy,if_exists='replace', index=False,
        dtype={'IdDepartamento':INTEGER,'Departamento':Text,'IdProvincia':INTEGER,})

461

In [279]:
engineok = sa.create_engine('postgresql://postgres:ADMIN1234@localhost:5432/challenge_data_analyst')

text=("""ALTER TABLE "Departamento" ADD PRIMARY KEY ("IdDepartamento") ;""") 
engineok.execute(text)

In [285]:
df_resultadoL.to_sql('Localidad',con=enginesexy,if_exists='replace', index=False,
        dtype={'Cod_Loc':INTEGER, 'Localidad':Text,'IdDepartamento':INTEGER,'CP':Text, 'Cod_tel':VARCHAR(100)})

197

In [286]:
engineok = sa.create_engine('postgresql://postgres:ADMIN1234@localhost:5432/challenge_data_analyst')

text=("""ALTER TABLE "Localidad" ADD PRIMARY KEY ( "Cod_Loc") ;""") 
engineok.execute(text)

In [287]:
text=("""ALTER TABLE  "Localidad"
ADD FOREIGN KEY ("IdDepartamento") REFERENCES "Departamento" ("IdDepartamento") ;""")
engineok.execute(text)

In [288]:
text=("""ALTER TABLE  "Departamento"
ADD FOREIGN KEY ("IdProvincia") REFERENCES "Provincia" ("IdProvincia") ;""")
engineok.execute(text)