In [1]:
import sqlalchemy as sa
import urllib 
import pandas as pd 
import psycopg2
from sqlalchemy import text
from conector import enginok

Leemos el .csv/cines para la creacion y normalizacion de la misma

In [2]:

dataC = pd.read_csv("./cines.csv", encoding='UTF-8')
df_Cines = pd.DataFrame(dataC)
df_Cines.sample(2)

,Cod_Loc,IdProvincia,IdDepartamento,Observaciones,CategorÃ­a,Provincia,Departamento,Localidad,Nombre,DirecciÃ³n,...,InformaciÃ³n adicional,Latitud,Longitud,TipoLatitudLongitud,Fuente,tipo_gestion,Pantallas,Butacas,espacio_INCAA,aÃ±o_actualizacion
115,30084160,30,30084,NaN,Salas de cine,Entre RÃ­os,Parana,ParanÃ¡,Cine Rex,Monte Caseros 266,...,NaN,-31.735579,-60.530820,LocalizaciÃ³n precisa,INCAA / SInCA,Privado comercial,3,434,NaN,2018
96,26035060,26,26035,NaN,Salas de cine,Chubut,Futaleufu,Trevelin,Espacio INCAA Trevelin,28 De Julio 414,...,NaN,-43.079516,-71.463135,LocalizaciÃ³n precisa,INCAA / SInCA,PÃºblico municipal,1,150,si,2018

In [3]:
df_Cines['Id']=df_Cines.index
df_Cines['Id']=df_Cines['Id'].astype(str)
df_Cines['Id']=df_Cines['Id']+'C'
df_Cines.sample()

,Cod_Loc,IdProvincia,IdDepartamento,Observaciones,CategorÃ­a,Provincia,Departamento,Localidad,Nombre,DirecciÃ³n,...,Latitud,Longitud,TipoLatitudLongitud,Fuente,tipo_gestion,Pantallas,Butacas,espacio_INCAA,aÃ±o_actualizacion,Id
287,6357110,6,6357,NaN,Salas de cine,Buenos Aires,General Pueyrredon,Mar del Plata,Teatro Auditorium,Bv. Maritimo 2280,...,-38.006718,-57.545561,LocalizaciÃ³n precisa,INCAA / SInCA,PÃºblico provincial,3,1563,NaN,2018,287C

**RENOMBRAR Y ORDENAR COLUMNAS**

In [6]:
df_Cines.rename({'TelÃ©fono':'Telefono','CategorÃ­a':'Categoria','InformaciÃ³n adicional':'Informacion Adicional','espacio_INCAA':'Espacio_Incaa', 'aÃ±o_actualizacion':'Ano_Actualizacion',
'DirecciÃ³n':'Direccion','Observaciones':'Observacion','tipo_gestion':'Tipo_gestion','cod_area':'Cod_tel'},
axis=1, inplace=True)

In [7]:
df_Cines.drop(['Provincia','Departamento','Localidad','IdDepartamento','CP', 'Cod_tel','IdProvincia'],axis=1,inplace=True)

In [8]:
df_Cines=df_Cines[['Id','Cod_Loc' ,'Categoria', 
        'Nombre', 'Direccion', 'Piso','Observacion',  'Informacion Adicional',
        'Telefono', 'Mail', 'Web', 'Latitud', 'Longitud',
        'TipoLatitudLongitud', 'Fuente', 'Tipo_gestion', 'Pantallas', 'Butacas',
        'Espacio_Incaa', 'Ano_Actualizacion']]

In [9]:
df_Cines.columns

Index(['Id', 'Cod_Loc', 'Categoria', 'Nombre', 'Direccion', 'Piso',
       'Observacion', 'Informacion Adicional', 'Telefono', 'Mail', 'Web',
       'Latitud', 'Longitud', 'TipoLatitudLongitud', 'Fuente', 'Tipo_gestion',
       'Pantallas', 'Butacas', 'Espacio_Incaa', 'Ano_Actualizacion'],
      dtype='object')

**IMPORTACION DE TIPOS DE DATOS QUE UTILIZARE PARA CREAR LA TABLA SIGUIENTE**

In [1]:
from sqlalchemy.types import VARCHAR 
from sqlalchemy.types import INTEGER
from sqlalchemy.types import Text
from sqlalchemy.types import NUMERIC

**CREACION DE TABLA "Cines"**

In [10]:
df_Cines.to_sql('CINES', con=enginok, if_exists='replace', index=False,
          dtype={"Id":VARCHAR,"Cod_Loc":INTEGER ,  
          "Categoria":Text , "Observacion":Text,  "Informacion Adicional":Text,
          "Nombre":Text, "Telefono":Text , "Mail": VARCHAR(200),
          "Web":VARCHAR,  "Fuente":VARCHAR(200),'Direccion':Text, 'Piso':Text ,'Latitud':NUMERIC, 'Longitud':NUMERIC, 'TipoLatitudLongitud':Text,
          "Tipo_gestion":VARCHAR(200),"Pantallas":INTEGER,"Butacas":INTEGER,"Espacio_Incaa":VARCHAR,  "Ano_Actualizacion":INTEGER, })

329

In [11]:
text=("""SELECT * FROM "CINES"
     WHERE "Cod_Loc"=86119100""")
muestreo1 = pd.DataFrame(enginok.execute(text))
muestreo1.head(5)

,Id,Cod_Loc,Categoria,Nombre,Direccion,Piso,Observacion,Informacion Adicional,Telefono,Mail,Web,Latitud,Longitud,TipoLatitudLongitud,Fuente,Tipo_gestion,Pantallas,Butacas,Espacio_Incaa,Ano_Actualizacion
0,29C,86119100,Salas de cine,Cine Teatro,Rivadavia 553,s/d,None,None,402187,sixtomadiaz@hotmail.com,https://www.municipalidaddequimili.gob.ar/,-27.644486,-62.413799,LocalizaciÃ³n precisa,INCAA / SInCA,PÃºblico municipal,1,136,None,2018

creacion de llave Primaria de la tabla CINES

In [12]:
# engineok = sa.create_engine('postgresql://postgres:ADMIN1234@localhost:5432/challenge_data_analyst')

text=("""ALTER TABLE "CINES" ADD PRIMARY KEY ("Id");""") 
enginok.execute(text)

Relacines correspondientes 'FOREIGN KEY'

In [3]:
text=("""ALTER TABLE  "CINES"
ADD FOREIGN KEY ( "Cod_Loc")  REFERENCES "Localidad" ("Cod_Loc") ;""")
enginok.execute(text)